<template>
  <div class="container">
      <span class="tmp-title">柜机模版详情</span>
      <img @click="toArkTem" class="back" src="../images/back.png">
    <basic-info></basic-info>
    <cab-plan></cab-plan>
  </div>
</template>
<script>
import basicInfo from "./components/BasicInfo"; //基本信息组件
import cabPlan from "./components/CabPlan"; //平面图组件
export default {
  name: "TmpDetail",
  components: {
    basicInfo,
    cabPlan
  },
  data() {
    return {};
  },
  methods: {
    toArkTem() {
      this.$router.push({
        path: "/arkTmp"
      });
    }
  },
  computed: {},
  mounted() {}
};
</script>
<style scoped>
.container {
  width: 100%;
  height: 800px;
  background-color: #fff;
  border: 1px solid rgba(229, 229, 229, 1);
  box-shadow: 3px 0px 4px rgba(82, 82, 81, 0.04);
  border-radius: 2px;
  padding: 10px 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.tmp-title {
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 10px;
}

.back {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
</style>