<template>
	<div class='bg' id='app'>
		<div v-show="showWhite" class="whiteBackground"></div>
		<div class='loginline'>
			<div class='loginbox'>
				<div class='b_head'>后台管理</div>
				<span class='b_title'>账号登录</span>
				<input class='input1' type='text' placeholder="请输入账号" v-model="idNumber" />
				<input class='input2' type='password' placeholder="请输入密码" v-model="password" @keyup.enter="btnClick"/>
				<el-button class="btn" type="primary" @click="btnClick">
					登录
				</el-button>

				<span class="errorInit">{{errorInit}}</span>
			</div>
		</div>

	</div>
</template>

<script>
export default {
  name: "Login",
  data: function() {
    return {
      idNumber: "",
      password: "",
      loading: false,
      errorInit: "",
      showWhite: true
    };
  },

  methods: {
    btnClick() {
      let idNumber = this.idNumber;
      let passwordInput = this.password;
      if (!idNumber) {
        this.errorInit = "请输入账号";
        return;
      } else if (!passwordInput) {
        this.errorInit = "请输入密码";
        return;
      }
      this.loading = true;

      let publicKey = this.randomString(16);
      let nineString = this.randomString(9);
      let privateKey = "Acrxker451dZe0jFvPDuy2qPKAgr15U6";
      var reg = new RegExp("=", "g");

      let password =
        Base64.encode(
          Base64.encode(passwordInput + privateKey).replace(reg, "") + publicKey
        ).replace(reg, "") + nineString;
      let params = {
        username: idNumber,
        password: password,
        publicKey: publicKey
      };
      this.postRequest("login", params).then(res => {
        if (res.data.code === 10000) {
          let userInfo = res.data.data;
          let token = userInfo.token;
          let userName = userInfo.nickname;
          if (!window.localStorage) {
            alert(
              "浏览器版本太低或兼容性差，请升级高版本或更换浏览器。（推荐使用谷歌浏览器）"
            );
            return;
          } else {
            let storage = window.localStorage;
            let exclude = ['Login','WebsiteDetail','ExpressDetail',"BossDetail","Binding",'TmpDetail','AddCabinet'];
            storage.setItem("token", token);
            this.$store.commit("login", userName);
            this.$store.commit("keepalive", exclude);
            this.$router.push({
              path: "/home"
            });
          }

          this.loading = false;
        } else {
          this.errorInit = res.data.msg;
          this.loading = false;
        }
      });
    },
    randomString(len) {
      len = len || 32;
      var $chars =
        "ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678"; /****默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1****/
      var maxPos = $chars.length;
      var pwd = "";
      for (let i = 0; i < len; i++) {
        pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
      }
      return pwd;
    }
  },
  mounted: function() {
    if (localStorage.userName && localStorage.userName != "out") {
      this.$router.push({
        path: "/home"
      });
    } else {
      console.log("showLogin");
      this.showWhite = false;
    }
  }
};
</script>

<style>
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/login_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 99;
}

.whiteBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
}

.loginline {
  position: relative;
  position: fixed;
  width: 505px;
  height: 405px;
  top: 50%;
  left: 50%;
  margin-top: -202.5px;
  margin-left: -252.5px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.loginbox {
  position: relative;
  position: fixed;
  width: 500px;
  height: 400px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.loginbox .b_head {
  position: absolute;
  width: 200px;
  height: 70px;
  top: -38px;
  left: 150px;
  background-image: url(../images/icon_bhead.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 70px;
}

.loginbox .b_title {
  position: absolute;
  width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  top: 60px;
  left: 210px;
  color: #4a83c4;
}

.loginbox input {
  position: absolute;
  width: 340px;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  margin-top: 22px;
  border: 1px solid #dfe3ea;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loginbox .input1 {
  top: 100px;
  left: 80px;
}

.loginbox .input2 {
  top: 180px;
  left: 80px;
}

.loginbox .btn {
  position: absolute;
  width: 340px;
  height: 50px;
  background: rgb(73, 130, 196);
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: rgba(73, 130, 196, 0.35) 0px 0px 10px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  top: 300px;
  left: 80px;
  cursor: pointer;
}

.errorInit {
  position: absolute;
  width: 340px;
  height: 15px;
  font-size: 15px;
  color: red;
  top: 268px;
  left: 82px;
}
</style>