<template>
  <div class="container">
    <website-search @search="search"
                    @tableHeightChange="tableHeightChange">
    </website-search>
    <website-table :tableData="tableData"
                   :loading="loading"
                   :sliderClass="sliderClass"
                   @exportExcel="exportExcel">
    </website-table>
    <paging :amount="amount"
            :currentpage="currentpage"
            @sizeChange="sizeChange"
            @currentChange="currentChange">
    </paging>
  </div>
</template>
<script>
import websiteSearch from "./components/Search"; //引入搜索栏组件
import websiteTable from "./components/Table"; //引入表格组件
import paging from "../components/Paging"; //引入分页组件
export default {
  name: "WebsiteManage",
  components: {
    websiteSearch,
    websiteTable,
    paging
  },
  data() {
    return {
      Searchparams: "", //搜索组件传递过来的参数
      page: 1,
      limit: 10,
      tableData: [], //表格展示的数据
      allData: [], //所有请求过的数据缓存至此
      amount: 0, //搜索结果总页数
      currentpage: 1, //当前页
      loading: false, // 是否处于加载状态
      sliderClass: "", //是否展开了搜索
      exportStatus: false //是否处于导出路线
    };
  },
  methods: {
    // 搜索数据
    search(Searchparams) {
      this.Searchparams = Searchparams;
      (this.page = 1), (this.allData = []), this.tableDataRequest(); //请求数据
    },
    // 每页条目发生变化
    sizeChange(limit) {
      this.limit = limit;
    },
    //翻页/改变当前页数
    currentChange(page) {
      this.page = page;
      this.tableDataRequest();
    },
    // 搜索页传递过来的参数（是否展开）
    tableHeightChange(classParams) {
      console.log(classParams);
      if (classParams) {
        this.sliderClass = "add-height-table";
      } else {
        this.sliderClass = classParams;
      }
    },
    // 导出Excel
    exportExcel() {
      this.exportStatus = true;
      this.tableDataRequest();
    },
    //  请求数据方法/导出方法
    tableDataRequest() {
      // 导出方法
      if (this.exportStatus) {
        this.exportStatus = false;
        if (!this.Searchparams) {
          this.$message({
            message: "请先查询数据再进行导出",
            type: "warning"
          });
        } else {
          let exportParams = {
            token: localStorage.token,
            cabName: this.Searchparams.cabName,
            cabAddress: this.Searchparams.cabAddress,
            cabSysId: this.Searchparams.terminalCode,
            machineCode: this.Searchparams.machineCode,
            cityId: this.Searchparams.cityId
          };
          this.$message({
            message: "正在导出数据，请耐心等待",
            duration: 3000
          });
          this.postRequest("cabinet/export", exportParams).then(res => {
            let url = res.data.data.url;
            window.location.href = url; //访问url路径来下载Excel文件
            this.$message({
              message: "数据导出成功！",
              type: "success"
            });
          });
        }
      }
      // 搜索数据方法
      else {
        let params = {
          token: localStorage.token,
          page: this.page,
          limit: this.limit,
          cabName: this.Searchparams.cabName,
          cabAddress: this.Searchparams.cabAddress,
          cabSysId: this.Searchparams.terminalCode,
          machineCode: this.Searchparams.machineCode,
          cityId: this.Searchparams.cityId
        };
        this.loading = true;
        // 如果总数据中缓存了当前页的数据则直接提取，否则请求
        if (this.allData[this.page - 1]) {
          this.tableData = this.allData[this.page - 1];
          this.loading = false;
        } else {
          this.postRequest("cabinet/list", params).then(res => {
            let data = res.data.data.list;
            if(!data[0]) {
              this.$message('暂无数据');
            }
            this.tableData = data;
            this.allData[this.page - 1] = data;
            this.amount = res.data.data.amount;
            this.loading = false;
          });
        }
      }
    }
  },
  computed: {},
  mounted() {}
};
</script>
<style scoped>
.container {
  width: 100%;
  height: 100%;
}
</style>