<template>
  <div class="basic-info">
    <header>快件信息</header>
    <div class="info">
      <ul>
        <li><span>运单号: </span><span>{{baseInfo.expressId}}</span></li>
        <li><span>收件人电话: </span><span>{{baseInfo.phone}}</span></li>
        <li><span>快递品牌: </span><span>{{baseInfo.comName}}</span></li>
        <li><span>快递员姓名: </span><span>{{baseInfo.memName}}</span></li>
        <li><span>快递员电话: </span><span>{{baseInfo.memPhone}}</span></li>
        <li><span>所属城市: </span><span>{{baseInfo.cityName}}</span></li>
        <li><span>投递网点: </span><span>{{baseInfo.cabName}}</span></li>
        <li><span>投递格口: </span><span>{{baseInfo.boxCode}}</span></li>
        <li><span>快件状态: </span><span>{{baseInfo.expressStateStr}}</span></li>
        <li><span>短信通知状态: </span><span>{{baseInfo.msgStatusStr}}</span></li>
        <li><span>微信通知状态: </span><span>成功</span></li>
        <li><span>投递时间: </span><span>{{baseInfo.datePuton}}</span></li>
        <li><span>签收时间: </span><span>{{baseInfo.datePulloff}}</span></li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "BasicInfo",
  props:['baseInfo'],
  data() {
    return {
     
    };
  },
  mounted() {

  },
  methods: {},
  computed: {}
};
</script>
<style scoped>
.basic-info {
  width: 100%;
}

.basic-info header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
}

.basic-info .info {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.basic-info .info ul {
  width: 100%;
  overflow: hidden;
}

.basic-info .info ul li {
  float: left;
  width: 16%;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  line-height: 34px;
}

.basic-info .info ul li span:nth-child(2) {
  color: #999;
}
</style>