<template>
  <div class="cab-plan">
    <header>常用操作</header>
    <div class="operate-content">
      <div class="btns">
        <el-button @click="modExpress">修改运单号</el-button>
        <el-button @click="modPhone">修改收件人电话</el-button>
        <el-button @click="sendsms">重发取件码</el-button>
        <el-button @click="openTerm">远程开柜</el-button>
        <el-button @click="signfor">手工签收</el-button>
        <el-button @click="recall">手工撤回</el-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ComOperate",
  data() {
    return {
      dialogFormVisible: false, //修改运单号弹窗状态
      dialogFormVisible2: false, //修改运单号弹窗状态
      expressId: "", //运单号
      phone: "", //手机号
      formLabelWidth: "120px",
      id: "" //快件id
    };
  },
  methods: {
    // 关闭修改运单弹窗的回调
    modExpress() {
      this.$prompt("请输入运单号", "修改运单号", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputPattern: /^[A-Za-z0-9]+$/,
        inputErrorMessage: "运单号格式不正确",
        inputValue: this.expressId
      })
        .then(({ value }) => {
          let params = {
            token: localStorage.token,
            id: this.id,
            expressId: value
          };
          this.postRequest("express/update/expressId", params).then(res => {
            if (res.data.code === 10000) {
              this.$notify({
                title: "成功",
                message: "运单号修改成功",
                type: "success"
              });
              this.$emit("refresh");
              this.expressId = value;
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消更改"
          });
        });
    },
    // 关闭修改手机号回调
    modPhone() {
      this.$prompt("请输入手机号", "修改手机号", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputPattern: /^\d{11}$/,
        inputErrorMessage: "手机号格式不正确",
        inputValue: this.phone
      })
        .then(({ value }) => {
          let params = {
            token: localStorage.token,
            id: this.id,
            phone: value
          };
          this.postRequest("express/update/phone", params).then(res => {
            if (res.data.code === 10000) {
              this.$notify({
                title: "成功",
                message: "手机号修改成功",
                type: "success"
              });
              this.$emit("refresh");
              this.phone = value
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消更改"
          });
        });
    },
    // 重发取件码
    sendsms() {
      let params = {
        token: localStorage.token,
        id: this.id
      };
      this.$confirm("将重新发送一条短信给该用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.postRequest("express/resend", params).then(res => {
            if (res.data.code === 10000) {
              this.$notify({
                title: "成功",
                message: "重发取件码成功",
                type: "success"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          });
        });
    },
    // 远程开柜
    openTerm() {
      let params = {
        token: localStorage.token,
        id: this.id
      };
      this.$confirm("此操作将打开该快件格口, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.postRequest("express/openOne", params).then(res => {
            if (res.data.code === 10000) {
              this.$notify({
                title: "开柜成功",
                type: "success"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          });
        });
    },
    // 手工签收
    signfor() {
      let params = {
        token: localStorage.token,
        id: this.id
      };
      this.$confirm("确认签收此快件吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.postRequest("express/signed", params).then(res => {
            if (res.data.code === 10000) {
              this.$notify({
                title: "成功",
                message: "签收成功",
                type: "success"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          });
        });
    },
    // 手工撤回
    recall() {
      let params = {
        token: localStorage.token,
        id: this.id
      };
      this.$confirm("确认打开此格口并撤回快件吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.postRequest("express/recall", params).then(res => {
            if (res.data.code === 10000) {
              this.$notify({
                title: "成功",
                message: "撤回成功",
                type: "success"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消撤回"
          });
        });
    }
  },
  computed: {},
  watch: {
    fileList2() {}
  },
  mounted() {
    let expressDetail = JSON.parse(localStorage.expressDetail);
    this.expressId = expressDetail.expressId;
    this.id = expressDetail.id;
    this.phone = expressDetail.phone;
  }
};
</script>
<style scoped>
.cab-plan {
  width: 100%;
  overflow: auto;
}

.cab-plan header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
}

.cab-plan .operate-content {
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: row;
}

.cab-plan .operate-content .btns {
  width: 50%;
  padding: 90px 50px 0 70px;
  box-sizing: border-box;
}

.cab-plan .operate-content .btns button {
  width: 150px;
  height: 50px;
  float: left;
  margin: 0 60px 50px 0;
  font-size: 16px;
  font-weight: 400;
}

.cab-plan .operate-content .diagram {
  padding-top: 30px;
  box-sizing: border-box;
}

.cab-plan .operate-content .diagram p {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
}

.cab-plan .operate-content .diagram p span {
  color: #fb3149;
}

.cab-plan .operate-content .diagram img {
  width: 400px;
  height: 240px;
  cursor: pointer;
}

.footerBtn {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.footerBtn button {
  width: 120px;
  height: 40px;
  border-radius: 2px;
  margin-right: 60px;
  font-size: 16px;
  cursor: pointer;
}

.footerBtn button:nth-child(1) {
  border: 1px solid rgba(77, 190, 255, 1);
  background: rgba(77, 190, 255, 1);
  color: #fff;
}

.footerBtn button:nth-child(2) {
  color: rgba(102, 102, 102, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  background-color: #fff;
  margin: 0;
}

.cab-plan >>> .el-input__inner {
  width: 30%;
}
</style>