<template>
  <div :class="[searchBox, sliderClass]">
    <div class="header">
      <span class="title">查询条件</span>
      <span class="slider" @click="sliderClick">{{sliderClass?'展开':'收起'}}</span>
    </div>
    
    <div class="input-box">
      <ul>
        <li>
          <div>
            <span>运单号:</span>
            <input type="text" v-model="expressId" @keyup.enter="searchClick">
          </div>
          <div>
            <span>快递品牌:</span>
            <el-select v-model="comValue" 
                       clearable 
                       placeholder="请选择">
              <el-option
                v-for="item in company"
                :key="item.id"
                :label="item.comName"
                :value="item.id"
                >
              </el-option>
            </el-select>
          </div>
          <div>
            <span>投递网点:</span>
            <input type="text" v-model="cabName" @keyup.enter="searchClick">
          </div>
        </li>
        <li>
          <div>
            <span>收件人电话:</span>
            <input type="text" v-model="phone" @keyup.enter="searchClick">
          </div>
          <div>
            <span>快递员电话:</span>
            <input type="text" v-model="memPhone" @keyup.enter="searchClick">
          </div>
          <div>
            <span>短信通知状态:</span>
            <el-select v-model="noteStateValue" 
                       clearable 
                       placeholder="请选择">
              <el-option
                v-for="item in noteState"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                >
              </el-option>
            </el-select>
          </div>
        </li>
        <li>
          <div>
            <span>所在城市:</span>
            <el-select v-model="cityValue" 
                       clearable 
                       placeholder="请选择">
              <el-option
                v-for="item in city"
                :key="item.id"
                :label="item.name"
                :value="item.id"
                >
              </el-option>
            </el-select>
          </div>
          <div>
            <span>快递员姓名:</span>
            <input type="text" v-model="memName" @keyup.enter="searchClick">
          </div>
          <div>
            <span>位置(列/行):</span>
            <input type="text" v-model="column" style="width:26%;margin-right:2.5%;" placeholder="列">
            <input type="text" v-model="row" style="width:26%;" placeholder="行">
          </div>
        </li>
      </ul>
      <div class="selectDate">
        <div class="status-box">
            <span>快件状态:</span>
            <el-select v-model="expressStateValue" 
                       clearable 
                       placeholder="请选择">
              <el-option
                v-for="item in expressState"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                >
              </el-option>
            </el-select>
        </div>
        <div class="date-box">
          <span style="font-size:14px;">时间段: </span>
          <el-date-picker
            v-model="timeValue"
            type="datetimerange"
            :picker-options="pickerOptions2"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
            :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
        </div>
      </div>
    </div>
    <div class="options">
      <button @click="resetClick">清空</button>
      <button @click="searchClick">查询</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "Search",
  data() {
    return {
      pickerOptions2: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      // 短信通知状态
      noteState: [
        {
          label: "成功",
          value: "1"
        },
        {
          label: "失败",
          value: "2"
        },
        {
          label: "发送中",
          value: "0"
        }
      ],
      // 快件状态
      expressState: [
        {
          value: "shelf",
          label: "上架"
        },
        {
          value: "sign",
          label: "签收"
        },
        {
          value: "reserve",
          label: "库存"
        },
        {
          value: "returning",
          label: "退件"
        }
      ],
      city: [], //城市列表
      status: [
        {
          id: "0",
          value: "未审核"
        },
        {
          id: "1",
          value: "已审核"
        }
      ], //网点状态列表
      cityValue: "", //选中城市的值
      searchBox: "search-box",
      sliderClass: "", //搜索框是否展开样式
      timeValue: [], //选择的时间范围
      noteStateValue: "", //短信状态值
      expressStateValue: "", //快件状态值
      expressId: "", //运单号
      memName: "", //快递员名称
      memPhone: "", // 快递员电话
      cabName: "", // 投递网点
      company: "", //快递公司数据
      comValue: "", //选中的快递公司
      phone: "", //收件人手机
      row: "",//位置（行）
      column: "",//位置（列）
    };
  },
  methods: {
    // 点击查询按钮
    searchClick() {
      // 处理时间
      let startTime = Date.parse(this.timeValue[0]) / 1000;
      let endTime = Date.parse(this.timeValue[1]) / 1000;
      if (!startTime || !endTime) {
        this.$message({
          message: "请至少选择时间段进行查找",
          type: "warning"
        });
        return;
      }
      let expressState = this.expressStateValue;
      let expressId = this.expressId;
      let smsStatus = this.noteStateValue;
      let phone = this.phone;
      let memName = this.memName;
      let memPhone = this.memPhone;
      let cabName = this.cabName;
      let comId = this.comValue;
      let row = this.row;
      let column = this.column;
      let searchParams = {
        startTime,
        endTime,
        expressState,
        expressId,
        smsStatus,
        phone,
        memName,
        memPhone,
        cabName,
        comId,
        row,
        column
      };
      this.$emit("search", searchParams);
    },

    // 清空
    resetClick() {
      this.expressId = "";
      this.phone = "";
      this.cityValue = "";
      this.comValue = "";
      this.memPhone = "";
      this.memName = "";
      this.cabName = "";
      this.noteStateValue = "";
      this.expressStateValue = "";
      this.timeValue = [];
    },

    // 展开/收起
    sliderClick() {
      if (this.sliderClass) {
        this.sliderClass = "";
      } else {
        this.sliderClass = "close-search";
      }
      this.$emit("tableHeightChange", this.sliderClass);
    },
    // 时间戳转化为年月日方法
    timestampToDate(timestamp) {
      var date = new Date(timestamp); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
      var Y = date.getFullYear();
      var M =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var D = date.getDate() + " ";
      var h = date.getHours() + ":";
      var m = date.getMinutes() + ":";
      var s = date.getSeconds();
      return `${Y}/${M}/${D}`;
    },
    // 时间戳转化为年月日时分秒方法
    timestampToTime(timestamp) {
      var date = new Date(timestamp); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
      var Y = date.getFullYear();
      var M =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      var D = date.getDate() + " ";
      var h = date.getHours() + ":";
      var m = date.getMinutes() + ":";
      var s = date.getSeconds();
      return `${Y}/${M}/${D}${h}${m}${s}`;
    }
  },
  computed: {},
  watch: {},
  mounted() {
    let params = {
      token: localStorage.token
    };
    // 请求城市列表
    this.postRequest("common/allCity", params).then(res => {
      let data = res.data.data.list;
      this.city = data;
    });
    // 请求快递公司列表
    this.postRequest("common/allCom", params).then(res => {
      let data = res.data.data.list;
      this.company = data;
    });
    // 获取默认时间

    
    let endTime = this.timestampToTime(
      Date.parse(this.timestampToDate(Date.parse(new Date()))) + (3600 * 24 - 1) *1000
    ); //结束时间
    let startTime = this.timestampToTime(
      Date.parse(this.timestampToDate(Date.parse(new Date()))) - 6 * (3600 * 24) *1000
    ); //开始时间
    this.timeValue.splice(0, 1, startTime);
    this.timeValue.splice(1, 1, endTime);
  }
};
</script>
<style scoped>
.search-box {
  width: 100%;
  height: 340px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  box-shadow: 3px 0px 4px rgba(82, 82, 81, 0.04);
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.close-search {
  height: 58px;
  overflow: hidden;
}

.search-box .header {
  width: 100%;
  height: 58px;
  line-height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-box .title {
  font-size: 18px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
}

.search-box .slider {
  font-size: 16px;
  font-weight: 400;
  color: rgba(61, 122, 200, 1);
  margin-right: 20px;
  cursor: pointer;
}

.search-box .input-box {
  width: 100%;
  height: 200px;
  background: rgba(228, 228, 228, 1);
}

.search-box .input-box ul {

  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search-box .input-box .selectDate {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: rgba(96, 96, 96, 1);
  float: right;
}

.search-box .input-box .selectDate > div {
  width: 33.33333333%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box .input-box .selectDate .date-box {
  width: 66.66666666%;
}

.search-box .input-box .selectDate span {
  width: 100px;
  margin-right: 20px;
  text-align: right;
}

.search-box .input-box .selectDate .el-select {
  width:54.1666%;
}

.search-box .input-box ul li {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-box .input-box ul li > div {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: rgba(96, 96, 96, 1);
}

.search-box .input-box ul li > div > span {
  width: 100px;
  margin-right: 20px;
  text-align: right;
}

.search-box .input-box ul li > div input {
  width: 54.1666%;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: #606266;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  padding-left: 15px;
  box-sizing: border-box;
}

.search-box .input-box .selectDate .el-select {
  height: 32px;
}

.search-box .input-box .selectDate >>> .el-date-editor .el-range-separator {
  line-height: 25px;
}

.search-box .input-box .selectDate >>> .el-input__inner {
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  height: 32px;
  box-sizing: border-box;
}

.search-box .input-box ul li > div .el-select {
  width: 54.1666%;
  height: 32px;
}

.search-box .input-box ul li > div .el-select >>> .el-input__inner {
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  height: 32px;
  box-sizing: border-box;
}

.search-box .input-box ul li > div .el-select >>> .el-input__icon {
  line-height: 25px;
}

.search-box .options {
  width: 100%;
  height: 82px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  box-sizing: border-box;
}

.search-box .options button {
  width: 102px;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  cursor: pointer;
  line-height: 32px;
}

.search-box .options button:nth-child(1) {
  background-color: #fb3149;
  border: 1px solid rgba(252, 133, 38, 1);
  margin-right: 40px;
}

.search-box .options button:nth-child(2) {
  background-color: #3d7ac8;
  border: 1px solid rgba(61, 122, 200, 1);
}

/* 重置时间选择器的样式 */
.search-box >>> .el-date-editor.el-input {
  width: 262px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: #606266;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  box-sizing: border-box;
}

.search-box >>> .el-date-editor.el-input .el-input__inner {
  height: 100%;
  border: none;
  border-radius: 0;
}

.search-box >>> .el-input__icon {
  line-height: 25px;
}
</style>