
<template>
  <div :class="[tableClass, sliderClass]">
    <div class="options">
      <span>{{mainSelect}}</span>
      <button>查看详情(双击)</button>
      <button @click="exportExpress">导出</button>
    </div>
    <el-table
    :data="tableData"
    style="width: 100%"
    @selection-change="handleSelectionChange"
    v-loading="loading"
    @row-dblclick="dblclick"
    ref="mytable">
    <el-table-column
      type="selection"
      width="50">
    </el-table-column>
    <el-table-column >
      <template slot-scope="props">
        <el-form label-position="left" inline class="demo-table-expand">
          <el-form-item label="运单号:">
            <span>{{ props.row.expressId }}</span>
          </el-form-item>
          <el-form-item label="收件人电话:">
            <span>{{ props.row.phone}}</span>
          </el-form-item>
          <el-form-item label="快递品牌:">
            <span>{{ props.row.comName }}</span>
          </el-form-item>
          <el-form-item label="快递员姓名:">
            <span>{{ props.row.memName }}</span>
          </el-form-item>
          <el-form-item label="快递员电话:">
            <span>{{ props.row.memPhone }}</span>
          </el-form-item>
          <el-form-item label="所属城市:">
            <span>{{ props.row.cityName }}</span>
          </el-form-item>
          <el-form-item label="投递网点:">
            <span>{{ props.row.cabName }}</span>
          </el-form-item>
          <el-form-item label="投递格口:">
            <span>{{ props.row.boxCode }}</span>
          </el-form-item>
          <el-form-item label="快件状态:">
            <span>{{ props.row.expressStateStr }}</span>
          </el-form-item>
          <el-form-item label="短信通知状态:">
            <span>{{ props.row.msgStatusStr }}</span>
          </el-form-item>
          <el-form-item label="微信通知状态:">
            <span>{{ '成功' }}</span>
          </el-form-item>
          <el-form-item label="取件码:">
            <span>{{ props.row.keycode }}</span>
          </el-form-item>
          <el-form-item label="投递时间:">
            <span>{{ props.row.datePuton }}</span>
          </el-form-item>
          <el-form-item :label="props.row.expressState == '2' ? '撤回时间:' : '取件时间:'">
            <span>{{ props.row.datePulloff }}</span>
          </el-form-item>
          <!-- <el-form-item label="撤回时间:">
            <span>{{ props.row.income }}</span>
          </el-form-item> -->
          <el-form-item label="扣费金额:">
            <span>{{ props.row.income/100 }}</span>
          </el-form-item>
          <!-- <el-form-item label="已审核">
          </el-form-item> -->
        </el-form>
      </template>
    </el-table-column>
  </el-table>
  </div>
</template>
<script>
export default {
  name: "Table",
  props: {
    tableData: Array,
    loading: Boolean,
    sliderClass: String
  },
  data() {
    return {
      mainSelect: "全选",
      multipleSelection: [],
      tableClass:'table'
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },

    // 双击事件
    dblclick (row) {
      // 缓存快件信息
      let expressDetail = JSON.stringify(row)
      localStorage.expressDetail = expressDetail;
      this.$router.push({
        path: "/expressDetail"
      });
    },

    // 点击导出按钮
    exportExpress () {
      this.$emit('exportExpress')
    }
  },
  watch: {
    multipleSelection() {
      if (this.multipleSelection.length === 10) {
        this.mainSelect = "反选";
      } else {
        this.mainSelect = "全选";
      }
    },
    tableData () {
      this.$refs.mytable.bodyWrapper.scrollTop = 0;
    }
  },
  computed: {
  },
  mounted() {}
};
</script>
<style scoped>
.table {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.add-height-table {
  height: 680px;
}

.table .options {
  width: 80%;
  height: 46px;
  position: absolute;
  left: 35px;
  top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.table .options span {
  font-size: 16px;
  color: #999;
  margin-right: 20px;
}

.table .options button {
  width: 90px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-right: 20px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.table .options button:nth-child(2) {
  width: 140px;
}

.table >>> .el-table th {
  padding-top: 2px;
  padding-bottom: 22px;
}

.table >>> .el-table__body-wrapper {
  height: 370px;
  overflow: auto;
  background-color: #f4f4f4;
}

.add-height-table >>> .el-table__body-wrapper {
  height: 650px;
}

.table >>> .el-table th.is-leaf {
  background-color: #f4f4f4;
  border: none;
}

.table >>> .el-table__body {
  border-collapse: separate;
  border-spacing: 0px 0px;
}

.add-height-table >>> .el-table__body {
  border-spacing: 0px 5px;
}

.table >>> .el-table__row {
  position: relative;
}

.table >>> .el-form-item {
  border-collapse: collapse;
}

.table >>> .el-form-item__label {
  line-height: 30px;
}

.table >>> .el-form-item__content {
  line-height: 30px;
  color: #999999;
}

.table >>> tr:hover > td {
  background-color: #e5e5e5 !important;
}

.demo-table-expand {
  font-size: 0;
}
.demo-table-expand .el-form-item__label {
  width: 90px;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
}

.demo-table-expand > span {
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}
.demo-table-expand .el-form-item {
  width: 220px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 12px;
}

.demo-table-expand >>> .el-form-item:nth-child(7) {
  width: 450px;
}

.demo-table-expand .el-form-item:nth-child(17) {
  position: absolute;
  width: 46px;
  height: 20px;
  background: rgba(61,122,200, 0.2);
  left: -50px;
  top: 0px;
  z-index: 10;
  border-radius: 0px 0px 10px 0px;
}

.demo-table-expand .el-form-item:nth-child(17) >>> .el-form-item__label {
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: rgba(61,122,200, 1);
  line-height: 20px;
  padding: 0;
  float: left;
  text-align: center;
}
</style>