
<template>
  <div class="container">
    <tmp-search @search="search"
                @tableHeightChange="tableHeightChange">
    </tmp-search>
    <tmp-table :tableData="tableData"
               :loading="loading"
               :sliderClass="sliderClass"
               @openAddModel="openAddModel"
               @openModeClick="openModeClick"
               @refresh="refresh"
               @exportTmp="exportTmp">
    </tmp-table>
    <paging :amount="amount"
            :currentpage="currentpage"
            @sizeChange="sizeChange"
            @currentChange="currentChange">
    </paging>
    <add-tmp :addModel="addModel"
             :addModelValue="addModelValue"
             @closeAddModel="closeAddModel">
    </add-tmp>
  </div>
</template>
<script>
import tmpSearch from "./components/Search"; //引入搜索栏组件
import tmpTable from "./components/Table"; //引入表格组件
import paging from "../components/Paging"; //引入分页组件
import addTmp from "./components/AddTmp"; //引入新增模版弹窗组件
export default {
  name: "ArtTmp",
  components: {
    tmpSearch,
    tmpTable,
    paging,
    addTmp
  },
  data() {
    return {
      Searchparams: null, //搜索组件传递过来的参数
      page: 1,
      limit: 10,
      tableData: [], //表格展示的数据
      allData: [], //所有请求过的数据缓存至此
      amount: 0, //搜索结果总页数
      currentpage: 1, //当前页
      loading: false, // 是否处于加载状态
      sliderClass: "", //是否展开了搜索
      addModel: false, //添加模版窗口状态
      addModelValue: "", //传递给新增模版的数据
      exportStatus:false,//到处模版状态
    };
  },
  methods: {
    // 搜索数据
    search(Searchparams) {
      this.Searchparams = Searchparams;
      (this.page = 1), (this.allData = []), this.tableDataRequest(); //请求数据
    },
    // 每页条目发生变化
    sizeChange(limit) {
      this.limit = limit;
    },
    //翻页/改变当前页数
    currentChange(page) {
      this.page = page;
      this.tableDataRequest();
    },
    // 搜索页传递过来的参数（是否展开）
    tableHeightChange(classParams) {
      console.log(classParams);
      if (classParams) {
        this.sliderClass = "add-height-table";
      } else {
        this.sliderClass = classParams;
      }
    },
    // 打开新增模版弹窗
    openAddModel() {
      this.addModel = true;
    },
    // 关闭新增模版弹窗
    closeAddModel() {
      this.addModel = false;
      if (this.addModelValue) {
        this.allData[this.page - 1] = null;
        this.tableDataRequest();
      }
    },
    // 删除之后刷新当前页面
    refresh() {
      this.allData[this.page - 1] = null;
      this.tableDataRequest();
    },
    // 打开修改模版弹窗
    openModeClick(id) {
      this.addModel = true;
      let params = {
        token: localStorage.token,
        id: id
      };
      this.postRequest("template/get", params).then(res => {
        this.addModelValue = res.data.data.templateVo;
      });
    },
    // 导出模版
    exportTmp () {
      this.exportStatus = true;
      this.tableDataRequest();
    },
    //  请求数据方法
    tableDataRequest() {
      // 导出方法
      if (this.exportStatus) {
        this.exportStatus = false;
        if (!this.Searchparams) {
          this.$message({
            message: "请先查询数据再进行导出",
            type: "warning"
          });
        } else {
          let exportParams = {
            token: localStorage.token,
            tempName: this.Searchparams.tempName,
            tempCode: this.Searchparams.tempCode,
            isPrimary: this.Searchparams.isPrimary,
            note: this.Searchparams.note
          };
          this.$message({
            message: "正在导出数据，请耐心等待",
            duration: 3000
          });
          this.postRequest("template/export", exportParams).then(res => {
            let url = res.data.data.url;
            window.location.href = url; //访问url路径来下载Excel文件
            this.$message({
              message: "数据导出成功！",
              type: "success"
            });
          });
        }
      } else {
        let params = {
          token: localStorage.token,
          page: this.page,
          limit: this.limit,
          tempName: this.Searchparams.tempName,
          tempCode: this.Searchparams.tempCode,
          isPrimary: this.Searchparams.isPrimary,
          note: this.Searchparams.note
        };
        this.loading = true;
        // 如果总数据中缓存了当前页的数据则直接提取，否则请求
        if (this.allData[this.page - 1]) {
          console.log("请求过了数据，直接提取");
          this.tableData = this.allData[this.page - 1];
          this.loading = false;
        } else {
          this.postRequest("template/list", params).then(res => {
            let data = res.data.data.list;
            if (!data[0]) {
              this.$message('暂无数据');
            }
            this.tableData = data;
            this.allData[this.page - 1] = data;
            this.amount = res.data.data.amount;
            this.loading = false;
          });
        }
      }
    }
  },
  computed: {},
  mounted() {}
};
</script>
<style scoped>
.container {
  width: 100%;
  height: 100%;
}
</style>