<template>
  <div class="container" @click="closeAllModel">
    <span>新增网点</span>
    <img src="../images/back.png" class="back-btn" @click="backClick">
    <el-form  :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
      <header>基本信息</header>
      <div class="inputBox">
        <el-form-item label="网点编号" prop="cabSysId">
          <el-input v-model="ruleForm.cabSysId"></el-input>
        </el-form-item> 
        <el-form-item label="主机硬件ID" prop="machineCode">
          <el-input v-model="ruleForm.machineCode"></el-input>
        </el-form-item> 
        <el-form-item label="网点名称" prop="cabName">
          <el-input v-model="ruleForm.cabName"></el-input>
        </el-form-item> 
        <el-form-item label="管理人" prop="nickname">
          <el-input v-model="ruleForm.nickname"></el-input>
        </el-form-item> 
        <el-form-item label="注册手机号" prop="phone">
          <el-input v-model="ruleForm.phone"></el-input>
        </el-form-item> 
      </div>
      <header>地理位置信息</header>
      <div class="inputBox">
        <!-- <el-form-item label="省份" prop="provinceName">
          <el-select v-model="ruleForm.provinceName" placeholder="请选择活动区域">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="城市" prop="cityName">
          <el-select v-model="ruleForm.cityName" placeholder="请选择活动区域">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="区县" prop="countyName">
          <el-select v-model="ruleForm.countyName" placeholder="请选择活动区域">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item label="经度" prop="longitude">
          <el-input v-model="ruleForm.longitude"></el-input>
        </el-form-item>
        <el-form-item label="纬度" prop="latitude">
          <el-input v-model="ruleForm.latitude"></el-input>
        </el-form-item>
        <el-form-item label="详细地址" prop="cabAddress">
          <el-input v-model="ruleForm.cabAddress"></el-input>
        </el-form-item>
      </div>
      <div class="btnBox">
        <el-button @click="resetForm('ruleForm')">重置</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      </div>
    </el-form>
    <header>新增柜机</header>
    <div class="cabinetTable">
      <div class="addBox">
        <button @click="openTmplist">新增</button>
        <!-- 选择模版弹窗 -->
        <div v-show="tmpModelStatus" class="tmpModel">
          <ul>
            <template v-for="(item,index) of tmpList">
              <li :key="item.id" @mouseover="showPhoto(item.id)" @mouseout="hiddenPhoto" @click="selectTmpClick(item)">
                <span>{{index + 1}}</span>
                <div class="tmpBox">
                  <div>
                    <span>柜机名称：</span>
                    <span>{{item.tempName}}</span>
                  </div>
                  <div>
                    <span>柜体类型：</span>
                    <span>{{item.isPrimary == '1' ? '主柜' : '副柜'}}</span>
                  </div>
                  <div>
                    <span>总格口数：</span>
                    <span>{{item.amount}}</span>
                  </div>
                  <div>
                    <span>大格口数：</span>
                    <span>{{item.largeAmount}}</span>
                  </div>
                  <div>
                    <span>中格口数：</span>
                    <span>{{item.mediumAmount}}</span>
                  </div>
                  <div>
                    <span>小格口数：</span>
                    <span>{{item.smallAmount}}</span>
                  </div>
                  <div>
                    <span>柜体规格描述：</span>
                    <span>{{item.note}}</span>
                  </div>
                </div>
              </li>
            </template>
          </ul>
        </div>
        <!-- 柜机模型弹窗 -->
        <div v-show="photoModelStatus" class="photoModel">
          <div>
            <ul>
              <template v-for="item of photoLeftList">
                <li :class="[item == 1 ? 'middleHeight': item == 2 ? 'largeHeight' : item == -1 ? 'largeHeight' : '']">
                  <div v-if="item == -1">屏幕</div>
                </li>
              </template>
            </ul>
            <ul>
              <template v-for="item of photoRightList">
                <li :class="[item == 1 ? 'middleHeight': item == 2 ? 'largeHeight': item == -1 ? 'largeHeight' : '']">
                  <div v-if="item == -1">屏幕</div>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
      <el-table
        :data="selectedList"
        style="width: 100%">
        <el-table-column
          prop="serial"
          label=""
          width="50">
        </el-table-column>
        <el-table-column
          prop="tempName"
          label="模版名称">
        </el-table-column>
        <el-table-column
          prop="types"
          label="柜体类型">
        </el-table-column>
        <el-table-column
          prop="note"
          label="柜体规格描述"
          width="200">
        </el-table-column>
        <el-table-column
          prop="amount"
          label="总格口数">
        </el-table-column>
        <el-table-column
          prop="largeAmount"
          label="大格口数">
        </el-table-column>
        <el-table-column
          prop="mediumAmount"
          label="中格口数">
        </el-table-column>
        <el-table-column
          prop="smallAmount"
          label="小格口数">
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="180">
          <template slot-scope="scope">
            <button class="reset" @click="reSelectClick(scope.row)">重选</button>
            <button class="delete" @click="deleteClick(scope.row)">删除</button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
export default {
  name: "AddCabinet",
  data() {
    return {
      ruleForm: {
        cabSysId: "",
        machineCode: "",
        cabName: "",
        nickname: "",
        phone: "",
        // provinceName: "",
        // cityName: "",
        // countyName: "",
        longitude: "",
        latitude: "",
        cabAddress: ""
      },
      rules: {
        // cabSysId: [
        //   { required: false, message: "请输入网点编号", trigger: "blur" }
        // ],
        machineCode: [
          { required: true, message: "请输入主机硬件ID", trigger: "blur" }
        ],
        cabName: [
          { required: true, message: "请输入网点名称", trigger: "blur" }
        ],
        nickname: [
          { required: true, message: "请输入管理人", trigger: "blur" }
        ],
        phone: [
          { required: true, message: "请输入注册手机号", trigger: "blur" }
        ],
        // provinceName: [
        //   { required: true, message: "请输入省份", trigger: "blur" }
        // ],
        // cityName: [{ required: true, message: "请输入城市", trigger: "blur" }],
        // countyName: [
        //   { required: true, message: "请输入区县", trigger: "blur" }
        // ],
        longitude: [{ required: true, message: "请输入经度", trigger: "blur" }],
        latitude: [{ required: true, message: "请输入纬度", trigger: "blur" }],
        cabAddress: [
          { required: true, message: "请输入详细地址", trigger: "blur" }
        ]
      },
      options: [
        {
          label: "全部",
          value: 1
        }
      ],
      testList: [1, 1, 1],
      tmpModelStatus: false, //选择模版弹窗状态
      photoModelStatus: false, //柜机模型弹窗状态
      tmpList: [], //所有模版列表
      photoLeftList: [], //左侧预览图数据
      photoRightList: [], //右侧预览图数据
      id: "", //悬停的id
      resetId: "", //重置的id
      selectedList: [] //选中的模版数组
    };
  },
  methods: {
    // 点击新增按钮
    openTmplist(event) {
      event.stopPropagation();
      this.tmpModelStatus = true;
      // 获取所有模版数据
      let params = {
        token: localStorage.token,
        page: 1,
        limit: 100
      };
      this.postRequest("template/list", params).then(res => {
        this.tmpList = res.data.data.list;
      });
    },

    // 鼠标悬停显示预览图
    showPhoto(id) {
      let params = {
        token: localStorage.token,
        id: id
      };
      this.photoModelStatus = true;
      if (id == this.id) {
        return;
      }
      this.postRequest("template/get", params).then(res => {
        let list = res.data.data.templateVo.tempValue;
        let leftList = list.slice(0, list.indexOf("|"));
        let rightList = list.slice(list.indexOf("|") + 1);
        leftList = leftList.split(",");
        rightList = rightList.split(",");
        this.photoLeftList = leftList;
        this.photoRightList = rightList;
        this.id = id;
        this.$forceUpdate();
      });
    },

    // 单击选中模版
    selectTmpClick(item) {
      item["types"] = item.isPrimary == 1 ? "主柜" : "副柜";
      if (this.resetId != "") {
        item["serial"] = this.resetId;
        this.selectedList.splice(this.resetId - 1, 1, item);
        this.resetId = "";
      } else {
        item["serial"] = this.selectedList.length + 1;
        this.selectedList.push(item);
      }
    },

    // 删除模版
    deleteClick(item) {
      for (let i = 0; i < this.selectedList.length; i++) {
        if (i >= item.serial) {
          this.selectedList[i].serial -= 1;
        }
      }
      this.selectedList.splice(item.serial - 1, 1);
    },

    // 点击重选
    reSelectClick(item) {
      event.stopPropagation();
      // 获取所有模版数据
      let params = {
        token: localStorage.token,
        page: 1,
        limit: 100
      };
      this.postRequest("template/list", params).then(res => {
        this.tmpList = res.data.data.list;
        let serial = item.serial;
        this.resetId = serial;
        this.tmpModelStatus = true;
      });
    },

    // 鼠标离开隐藏预览图
    hiddenPhoto() {
      this.photoModelStatus = false;
    },

    // 关闭所有弹窗
    closeAllModel() {
      this.tmpModelStatus = false;
      this.photoModelStatus = false;
    },

    // 提交表单
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let tmpGroup = [];
          for (let i = 0; i < this.selectedList.length; i++) {
            tmpGroup.push(this.selectedList[i].id);
          }
          if (!tmpGroup[0]) {
            this.$message({
              message: "请至少添加一组柜子",
              type: "warning"
            });
            return;
          }
          let params = {
            token: localStorage.token,
            cabName: this.ruleForm.cabName,
            cabAddress: this.ruleForm.cabAddress,
            longitude: this.ruleForm.longitude * 1000000,
            latitude: this.ruleForm.latitude * 1000000,
            phone: this.ruleForm.phone,
            cabSysId: this.ruleForm.cabSysId,
            cabName: this.ruleForm.cabName,
            machineCode: this.ruleForm.machineCode,
            tmpGroup: tmpGroup.join(",")
          };
          this.postRequest("cabinet/insert", params).then(res => {
            this.$notify({
              title: "成功",
              message: "网点创建成功",
              type: "success"
            });
          });
        } else {
          this.$message.error("请将数据填写完整");
          return false;
        }
      });
    },
    // 重置表单
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },

    // 返回上一页
    backClick() {
      this.$router.push({
        path: "/website"
      });
    }
  },
  computed: {},

  mounted() {}
};
</script>
<style scoped>
.container {
  width: 100%;
  /* height: 100%; */
  min-height: 100%;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: scroll; */
}

.container > span {
  font-size: 18px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 20px;
}

.container > form {
  width: 100%;
}

header {
  width: 100%;
  height: 40px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 40px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.inputBox {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnBox {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
}

.btnBox button {
  width: 122px;
  height: 42px;
}

.btnBox button:nth-child(1) {
  margin-right: 60px;
}

.el-form-item {
  margin-bottom: 20px;
}

.container >>> .el-table th {
  background-color: #e5e5e5;
}

.container >>> .el-table thead {
  color: #666;
}

.container >>> .el-input__inner {
  height: 30px;
  line-height: 30px;
}

.container .reset {
  width: 60px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.container .delete {
  width: 60px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #fb3149;
  border-radius: 4px;
  color: #fff;
  background-color: #fb3149;
  cursor: pointer;
}

.addBox {
  width: 100%;
  height: 50px;
  position: relative;
}

.addBox button {
  width: 80px;
  height: 40px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
  border: none;
  cursor: pointer;
}

.tmpModel {
  position: absolute;
  width: 40%;
  height: 500px;
  left: 100px;
  top: -300px;
  overflow: auto;
  padding: 10px;
  border: 1px solid #afd1fd;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 10;
}

.tmpModel ul {
  width: 100%;
  height: 100%;
}

.tmpModel ul li {
  width: 100%;
  /* height: 110px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.tmpModel ul li:hover {
  background-color: #f2f2f2;
}

.tmpModel ul li > span {
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(61, 122, 200, 1);
}

.tmpModel ul li .tmpBox {
  width: 90%;
  height: 100%;
}

.tmpModel ul li .tmpBox div {
  float: left;
  /* width: 33%; */
  height: 30px;
  font-size: 14px;
  color: #606060;
  line-height: 30px;
  margin-right: 20px;
}

.tmpModel ul li .tmpBox div:last-child {
  width: 100%;
}

.photoModel {
  position: absolute;
  width: 40%;
  height: 500px;
  left: 55%;
  top: -300px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(244, 244, 244, 1);
  padding: 20px 10%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 10;
}

.photoModel > div {
  width: 100%;
  height: 100%;
  background: rgba(231, 234, 238, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.photoModel > div ul {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.photoModel > div ul li {
  width: 100%;
  height: 5.8823%;
  background-color: #fff;
  border-top: 1px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photoModel > div ul li div {
  width: 80%;
  height: 80%;
  background: linear-gradient(
    0deg,
    rgba(185, 229, 255, 1),
    rgba(232, 247, 255, 1)
  );
  border: 1px solid rgba(166, 222, 255, 1);
  border-radius: 5px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: rgba(61, 122, 200, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photoModel > div ul li.middleHeight {
  height: 11.7647%;
}

.photoModel > div ul li.largeHeight {
  height: 17.647%;
}

.back-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
</style>