<template>
  <div class="content">
    <img class="back" @click="back" src="../images/back.png">
    <div class="title">网点详情</div>
    <div class="show_t">基本信息</div>
    <div class="baseinfo">
      <div class="row">
        <span class="rowleft">网点编号:</span>
        <span class="rowright">{{cabinetVo.cabSysId}}</span>
      </div>
      <div class="row">
        <span class="rowleft">主机硬件ID:</span>
        <span class="rowright">{{cabinetVo.machineCode}}</span>
      </div>
      <div class="row">
        <span class="rowleft">管理人:</span>
        <span class="rowright">{{cabinetVo.nickname}}</span>
      </div>
      <div class="row">
        <span class="rowleft">注册手机号:</span>
        <span class="rowright">{{cabinetVo.manPhone}}</span>
      </div>
      <div class="row srow">
        <span class="rowleft">网点名称:</span>
        <span class="rowright">{{cabinetVo.cabName}}</span>
      </div>
    </div>
    <div class="show_t">地理位置信息</div>
    <div class="placeinfo">
      <div class="row">
        <span class="rowleft">省份:</span>
        <span class="rowright">{{cabinetVo.provinceName}}</span>
      </div>
      <div class="row">
        <span class="rowleft">城市:</span>
        <span class="rowright">{{cabinetVo.cityName}}</span>
      </div>
      <div class="row">
        <span class="rowleft">区县:</span>
        <span class="rowright">{{cabinetVo.countyName}}</span>
      </div>
      <div class="row">
        <span class="rowleft">经度:</span>
        <span class="rowright">{{cabinetVo.longitude/1000000}}</span>
      </div>
      <div class="row">
        <span class="rowleft">纬度:</span>
        <span class="rowright">{{cabinetVo.latitude/1000000}}</span>
      </div>
      <div class="row srow">
        <span class="rowleft">详细地址:</span>
        <span class="rowright">{{cabinetVo.cabAddress}}</span>
      </div>
    </div>
    <div class="show_t">柜机硬件信息</div>

    <!-- 柜机硬件信息弹窗 -->
    <el-dialog :visible.sync="dialogCabInfo" width="40%">
      <div class="dialog-cab-info">
        <header>柜机硬件信息</header>
        <div class="input-box">
          <span>柜体型号编码：</span>
          <input type="text" v-model="cabModelCode">
        </div>
        <div class="input-box">
          <span>设备序列号：</span>
          <input type="text" v-model="cabSerialNum">
        </div>
        <div class="preview">
          <header>{{modCabInfo.cabGroupNo}}号柜</header>
          <div class="mouth">
            <ul>
              <template v-for="(itemInner, innerIndex) of modeCabInfoPre.left">
                <li
                  :title="itemInner.boxCode"
                  :key="itemInner.boxCode"
                  :style="{
                              height:  itemInner.type === '1' ? '12.1212%':(itemInner.type === '2' || itemInner.type === '9') ? '15.1515%' : '',
                              background: itemInner.status === 'locked' ? 'rgba(252,133,38,1)': itemInner.status === 'used' ? 'rgba(61,122,200,1)': itemInner.status === 'broken' ? '#6E1A9A' : '',
                              color: itemInner.status != 'noUsed' ? '#fff': ''
                          }"
                >
                  {{itemInner.type === '9' ? '' : itemInner.sindex ? itemInner.sindex : innerIndex + 1}}
                  <span
                    v-if="itemInner.type === '9'"
                  >屏幕</span>
                </li>
              </template>
            </ul>
            <ul>
              <template v-for="(itemInner, innerIndex) of modeCabInfoPre.right">
                <li
                  :title="itemInner.boxCode"
                  :key="itemInner.boxCode"
                  :style="{
                              height:  itemInner.type === '1' ? '12.1212%':(itemInner.type === '2' || itemInner.type === '9') ? '15.1515%' : '',
                              background: itemInner.status === 'locked' ? 'rgba(252,133,38,1)': itemInner.status === 'used' ? 'rgba(61,122,200,1)': itemInner.status === 'broken' ? '#6E1A9A' : '',
                              color: itemInner.status != 'noUsed' ? '#fff': ''
                              }"
                >
                  {{itemInner.type === '9' ? '' : itemInner.sindex ? itemInner.sindex : innerIndex + 1}}
                  <span
                    v-if="itemInner.type === '9'"
                  >屏幕</span>
                </li>
              </template>
            </ul>
          </div>
        </div>
        <div class="btns">
          <button @click="dialogCabInfo=false">取消</button>
          <button @click="saveCabInfoSubmit">保存</button>
        </div>
      </div>
    </el-dialog>

    <div class="boxinfo">
      <div class="boxinfoleft">
        <template>
          <el-table
            :data="cabinetVo.cabinetGroupModels"
            height="240"
            border
            style="width: 100%"
            class="table1"
          >
            <el-table-column prop="cabGroupNo" label="序号" width="50" align="center"></el-table-column>
            <el-table-column prop label="柜机类型" width="80" align="center">
              <template slot-scope="scope">
                <span>{{scope.row.isPrimary?'主柜':'副柜'}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="cabModel" label="柜体型号编号" width="120" align="center"></el-table-column>
            <el-table-column prop="cabDesc" label="柜体规格描述" align="center"></el-table-column>
            <!-- <el-table-column prop="num" label="数量" width="100" align="center"></el-table-column> -->
            <el-table-column prop="set" label="操作" width="150" align="center">
              <template slot-scope="scope">
                <!-- <span>--</span> -->
                <!-- <el-button type="primary" plain>新增</el-button> -->
                <el-button type="primary" plain @click="modCabInfoClick(scope.row)">修改</el-button>
                <!-- <el-button type="primary" plain>删除</el-button> -->
              </template>
            </el-table-column>
          </el-table>
        </template>

        <template>
          <el-table :data="tableData2" border style="width: 100%" class="table2">
            <el-table-column prop="count" label="总格口数" align="center"></el-table-column>
            <el-table-column prop="lCount" label="大格口数" align="center"></el-table-column>
            <el-table-column prop="mCount" label="中格口数" align="center"></el-table-column>
            <el-table-column prop="sCount" label="小格口数" align="center"></el-table-column>
            <el-table-column prop="tCount" label="微格口数" align="center"></el-table-column>
          </el-table>
        </template>
      </div>
      <div class="boxinforight">
        <div class="tips">
          柜机格口管理
          <span>(点击放大)</span>
        </div>
        <!-- <img
          @click="showModel"
          src="https://xwq-object-1256294606.cos.ap-guangzhou.myqcloud.com/myPhotos/thumbnail.jpg"
        >-->
        <div id="smallMap" @click="showModel">
          <div class="mouth-detail">
            <div class="cabinet-list" style="height:100%">
              <el-carousel indicator-position="outside" :autoplay="false">
                <!-- 
										*	outItem,bigIndex :最外层swiper数组
										* item,outIndex：一组柜机数组
										* itemInner, innerIndex：一列柜子数组
                -->
                <el-carousel-item v-for="(outItem,bigIndex) in swiperData" :key="outItem.id">
                  <template v-for="(item,outIndex) of outItem">
                    <div :key="item.id" class="cabinet-tmp">
                      <header
                        style="font-size:8px;font-weight:400;"
                      >{{(bigIndex * 4 + outIndex + 1)+'号柜'}}</header>
                      <div class="col-num">
                        <div
                          style="font-size:6px;font-weight:400;"
                        >{{(bigIndex * 4 + outIndex) * 2 + 1}}列</div>
                        <div
                          style="font-size:6px;font-weight:400;"
                        >{{(bigIndex * 4 + outIndex) * 2 + 2}}列</div>
                      </div>
                      <div class="cabinet-col">
                        <ul>
                          <template v-for="(itemInner, innerIndex) of item.left">
                            <li
                              :title="itemInner.boxCode"
                              :key="itemInner.boxCode"
                              :style="{
                              'font-size':'12px',
                              height:  itemInner.type === '1' ? '12.1212%':(itemInner.type === '2' || itemInner.type === '9') ? '15.1515%' : '',
                              background: itemInner.status === 'locked' ? 'rgba(252,133,38,1)': itemInner.status === 'used' ? 'rgba(61,122,200,1)': itemInner.status === 'broken' ? '#6E1A9A' : '',
                              color: itemInner.status != 'noUsed' ? '#fff': ''
                              }"
                            >
                              {{itemInner.type === '9' ? '' : itemInner.sindex ? itemInner.sindex : innerIndex + 1}}
                              <span
                                style="font-size:12px;font-weight:400;"
                                v-if="itemInner.type === '9'"
                              >屏幕</span>
                              <!-- <i
                              v-show="itemInner.selected"
                              :style="{background:itemInner.status != 'noUsed' ? 'rgba(251,49,73,1)':''}"
                              >√</i>-->
                            </li>
                          </template>
                        </ul>
                        <ul>
                          <template v-for="(itemInner, innerIndex) of item.right">
                            <li
                              :title="itemInner.boxCode"
                              :key="itemInner.boxCode"
                              :style="{
                              'font-size':'12px',
                              height: itemInner.type === '1' ? '12.1212%':(itemInner.type === '2' || itemInner.type === '9') ? '15.1515%' : '',
                              background: itemInner.status === 'locked' ? 'rgba(252,133,38,1)':itemInner.status === 'used' ? 'rgba(61,122,200,1)': itemInner.status === 'broken' ? '#6E1A9A' : '',
                              color: itemInner.status != 'noUsed' ? '#fff': ''
                              }"
                            >
                              {{itemInner.type === '9' ? '' : itemInner.sindex ? itemInner.sindex : innerIndex + 1}}
                              <span
                                style="font-size:12px;font-weight:400;"
                                v-if="itemInner.type === '9'"
                              >屏幕</span>
                              <!-- <i
                              v-show="itemInner.selected"
                              :style="{background:itemInner.status != 'noUsed' ? 'rgba(251,49,73,1)':''}"
                              >√</i>-->
                            </li>
                          </template>
                        </ul>
                      </div>
                    </div>
                  </template>
                </el-carousel-item>
              </el-carousel>
            </div>
          </div>
        </div>
        <!-- <img
          @click="showModel"
          src="https://xwq-object-1256294606.cos.ap-guangzhou.myqcloud.com/myPhotos/thumbnail.jpg"
        >-->
      </div>
    </div>
    <div class="show_t">
      网点现场照片
      <a :class="classA" @click="checkSite"></a>
    </div>
    <div class="upload" v-show="flag">
      <div class="uploadrow">
        <span class="uptitle">正面90度正视图</span>
        <el-upload
          class="avatar-uploader"
          action="https://jsonplaceholder.typicode.com/posts/"
          :show-file-list="false"
          :on-success="handleAvatarSuccess1"
          :before-upload="beforeAvatarUpload1"
        >
          <img v-if="imageUrl1" :src="imageUrl1" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </div>
      <div class="uploadrow">
        <span class="uptitle">左侧45度侧视图</span>
        <el-upload
          class="avatar-uploader"
          action="https://jsonplaceholder.typicode.com/posts/"
          :show-file-list="false"
          :on-success="handleAvatarSuccess2"
          :before-upload="beforeAvatarUpload2"
        >
          <img v-if="imageUrl2" :src="imageUrl2" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </div>
      <div class="uploadrow">
        <span class="uptitle">右侧45度侧视图</span>
        <el-upload
          class="avatar-uploader"
          action="https://jsonplaceholder.typicode.com/posts/"
          :show-file-list="false"
          :on-success="handleAvatarSuccess3"
          :before-upload="beforeAvatarUpload3"
        >
          <img v-if="imageUrl3" :src="imageUrl3" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </div>
      <div class="uploadrow">
        <span class="uptitle last">主机硬件ID图</span>
        <el-upload
          class="avatar-uploader"
          action="https://jsonplaceholder.typicode.com/posts/"
          :show-file-list="false"
          :on-success="handleAvatarSuccess4"
          :before-upload="beforeAvatarUpload4"
        >
          <img v-if="imageUrl4" :src="imageUrl4" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </div>

      <div class="btnrow">
        <el-button type="primary">保存</el-button>
        <el-button plain>取消</el-button>
      </div>
    </div>

    <!-- 管理员设置 -->
    <div class="show_t" style="margin-top:20px;">管理员设置</div>
    <div class="admin">
      <span>已绑定：</span>
      <div class="people">
        <div v-for="item of cabinetmemberList" :key="item.cabinetMemberId">
          <div class="info">
            <span>商家姓名：</span>
            <span>{{item.nickname}}</span>
          </div>
          <div class="info">
            <span>注册手机号：</span>
            <span>{{item.phone}}</span>
          </div>
          <button @click="deleteAdmin(item.cabinetMemberId)">删除</button>
        </div>
        <button @click="addAdminClick">新增</button>
      </div>
    </div>

    <!-- 设置管理员弹窗 -->
    <el-dialog :visible.sync="dialogAdmin" width="40%">
      <div class="dialog-admin">
        <header>管理员设置</header>
        <div class="operate">
          <div>
            <span>鸟巢商家账号：</span>
            <input type="text" v-model="adminPhone">
          </div>
          <div class="btns">
            <button>清空</button>
            <button @click="searchAdminClick">查询</button>
          </div>
          <div class="title">
            <span></span>
            <span>商家信息</span>
            <span></span>
          </div>
          <div class="info">
            <span>商家姓名：{{adminInfo.nickname}}</span>
            <span>注册手机号：{{adminInfo.phone}}</span>
          </div>
          <div class="btns">
            <button @click="dialogAdmin=false">取消</button>
            <button @click="bindAdminClick">绑定</button>
          </div>
        </div>
      </div>
    </el-dialog>

    <!-- 价格设置 -->
    <div class="show_t">价格设置</div>
    <div class="price-set">
      <div class="price-list">
        <div>
          <span>大格口：</span>
          <span>{{priceList.price3}}元</span>
        </div>
        <div>
          <span>中格口：</span>
          <span>{{priceList.price2}}元</span>
        </div>
        <div>
          <span>小格口：</span>
          <span>{{priceList.price1}}元</span>
        </div>
        <div>
          <button @click="setPriceClick">设置</button>
        </div>
      </div>
      <span>该柜机对以下快递员免费：</span>
      <div class="free-mem" v-for="item of priceWhitelist" :key="item.memberId">
        <span></span>
        <div>{{item.comName}}</div>
        <div>{{item.nickname}}</div>
        <div>{{item.phone}}</div>
        <button @click="deleteFreeMem(item.memberId)">删除</button>
      </div>
      <div class="add-btn">
        <button @click="addFreeMem">新增</button>
      </div>
    </div>

    <!-- 设置价格弹窗 -->
    <el-dialog :visible.sync="dialogPrice" width="40%;">
      <div class="dialog-price">
        <header>价格设置</header>
        <div>
          <span>大格口：</span>
          <input type="text" v-model="priceListSet.price3">
          <span>元/件</span>
        </div>
        <div>
          <span>中格口：</span>
          <input type="text" v-model="priceListSet.price2">
          <span>元/件</span>
        </div>
        <div>
          <span>小格口：</span>
          <input type="text" v-model="priceListSet.price1">
          <span>元/件</span>
        </div>
        <div class="btns">
          <button @click="dialogPrice = false">取消</button>
          <button @click="setPriceSubmit">确定</button>
        </div>
      </div>
    </el-dialog>

    <!-- 免费快递员弹窗 -->
    <el-dialog :visible.sync="dialogFreeMem" width="40%">
      <div class="dialog-admin">
        <header>免费快递员</header>
        <div class="operate">
          <div>
            <span>快递员账号：</span>
            <input type="text" v-model="freeMemId">
          </div>
          <div class="btns">
            <button>清空</button>
            <button @click="searchFreeMem">查询</button>
          </div>
          <div class="title">
            <span></span>
            <span>快递员信息</span>
            <span></span>
          </div>
          <div class="info">
            <span>快递公司：{{freeMemInfo.comName}}</span>
            <span>姓名：{{freeMemInfo.nickname}}</span>
            <span>注册手机号：{{freeMemInfo.phone}}</span>
            <span>身份证号码：{{freeMemInfo.identiNo}}</span>
          </div>
          <div class="btns">
            <button @click="dialogFreeMem=false">取消</button>
            <button @click="setFreeMemSubmit">设置</button>
          </div>
        </div>
      </div>
    </el-dialog>

    <!-- 逾期设置 -->
    <div class="show_t">逾期设置</div>
    <div class="overdue-set">
      <div>
        <span>逾期时限：</span>
        <span>{{overdueInfo.overdueVal}}小时</span>
      </div>
      <div>
        <span>逾期控制：</span>
        <span>{{overdueInfo.overdueOn === '1' ?'处理后允许投递':'仅提醒，不限制'}}</span>
      </div>
      <button @click="setOverdueClick">设置</button>
    </div>

    <!-- 逾期设置弹窗 -->
    <el-dialog :visible.sync="dialogOverdue">
      <div class="dialog-overdue">
        <header>逾期设置</header>
        <div class="select-box">
          <span>逾期设置：</span>
          <el-select v-model="timeLimit" placeholder="请选择">
            <el-option
              v-for="item in timeLimits"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
        <div class="select-box">
          <span>逾期控制：</span>
          <el-select v-model="overDueControl" placeholder="请选择">
            <el-option
              v-for="item in overDueControls"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
        <div class="btns">
          <button @click="dialogOverdue=false">取消</button>
          <button @click="overdueSubmit">保存</button>
        </div>
      </div>
    </el-dialog>

    <!-- 预留设置 -->
    <div class="show_t">
      预留设置
      <span>（预留/总数）</span>
    </div>
    <div class="price-set">
      <div class="price-list">
        <div>
          <span>大格口：</span>
          <span>{{reserveInfo.largeBK + '/' + reserveInfo.largeTOT}}</span>
        </div>
        <div>
          <span>中格口：</span>
          <span>{{reserveInfo.middleBK + '/' + reserveInfo.middleTOT}}</span>
        </div>
        <div>
          <span>小格口：</span>
          <span>{{reserveInfo.smallBK + '/' + reserveInfo.smallTOT}}</span>
        </div>
        <!-- <div>
          <span>微格口：</span>
          <span>0/0</span>
        </div>-->
        <div>
          <button @click="setReserveClick">设置</button>
        </div>
      </div>
      <span>本柜机预留格口对以下快递员授权开放：</span>
      <div class="free-mem" v-for="item of reserveMemList" :key="item.memberId">
        <span></span>
        <div>{{item.comName}}</div>
        <div>{{item.nickname}}</div>
        <div>{{item.phone}}</div>
        <button @click="deleteReserveMem(item.memberId)">删除</button>
      </div>
      <div class="add-reserve-mem">
        <button @click="addReserveMemClick">新增</button>
      </div>
    </div>

    <!-- 设置预留弹窗 -->
    <el-dialog :visible.sync="dialogReserve" width="40%;">
      <div class="dialog-price">
        <header>预留设置</header>
        <div>
          <span>大格口：</span>
          <input type="text" placeholder="请输入预留数量" v-model="reserveSet.largeBK">
          <span>总数{{reserveSet.largeTOT}}个</span>
        </div>
        <div>
          <span>中格口：</span>
          <input type="text" placeholder="请输入预留数量" v-model="reserveSet.middleBK">
          <span>总数{{reserveSet.middleTOT}}个</span>
        </div>
        <div>
          <span>小格口：</span>
          <input type="text" placeholder="请输入预留数量" v-model="reserveSet.smallBK">
          <span>总数{{reserveSet.smallTOT}}个</span>
        </div>
        <div class="btns">
          <button @click="dialogReserve=false">取消</button>
          <button @click="setRreserveSubmit">确定</button>
        </div>
      </div>
    </el-dialog>

    <!-- 预留开放快递员 -->
    <el-dialog :visible.sync="dialogReserveMem" width="40%">
      <div class="dialog-admin">
        <header>预留快递员</header>
        <div class="operate">
          <div>
            <span>快递员账号：</span>
            <input type="text" v-model="reserveMemId">
          </div>
          <div class="btns">
            <button>清空</button>
            <button @click="searchReserveMem">查询</button>
          </div>
          <div class="title">
            <span></span>
            <span>快递员信息</span>
            <span></span>
          </div>
          <div class="info">
            <span>快递公司：{{reserveMemInfo.comName}}</span>
            <span>商家姓名：{{reserveMemInfo.nickname}}</span>
            <span>注册手机号：{{reserveMemInfo.phone}}</span>
            <span>身份证号码：{{reserveMemInfo.identiNo}}</span>
          </div>
          <div class="btns">
            <button @click="dialogReserveMem=false">取消</button>
            <button @click="bindReserveMem">绑定</button>
          </div>
        </div>
      </div>
    </el-dialog>

    <!-- 拒收设置 -->
    <div class="show_t">拒收设置</div>
    <div class="rejection">
      <span>该网点已拒收{{rejectTotal}}个手机号</span>
      <button @click="setRejectClick">设置</button>
    </div>

    <!-- 拒收列表弹窗 -->
    <el-dialog :visible.sync="dialogReject" width="50%">
      <div class="dialog-rejcet">
        <header>拒收设置</header>
        <div class="search-box">
          <div class="input-box">
            <img src="../images/icon-search.png">
            <input type="text" placeholder="请输入手机号查询">
          </div>
          <button>搜索</button>
          <button @click="dialogAddReject=true">新增</button>
        </div>
        <div class="list">
          <h3 v-if="!rejectList[0]" style="text-align:center;">暂无拒收账号</h3>
          <ul>
            <li v-for="item of rejectList">
              <span>{{item.phone}}</span>
              <span>{{item.createDate}}</span>
              <button @click="deleteRejectMem(item.phone)">删除</button>
            </li>
          </ul>
        </div>
        <div class="paging">
          <el-pagination
            @current-change="handleCurrentChange"
            :page-size="10"
            layout="total, prev, pager, next"
            :total="rejectTotal"
          ></el-pagination>
        </div>
      </div>
    </el-dialog>

    <!-- 新增拒收弹窗 -->
    <el-dialog :visible.sync="dialogAddReject" width="20%">
      <div class="dialog-addReject">
        <input type="text" placeholder="请输入手机号" v-model="rejectId">
        <div class="note">
          <textarea maxlength="100" placeholder="添加备注（非必填）" v-model="rejectNote"></textarea>
          <span>{{rejectNote.length}}/100</span>
        </div>
        <div class="btns">
          <button @click="dialogAddReject=false">取消</button>
          <button @click="addRejectSubmit">保存</button>
        </div>
      </div>
    </el-dialog>

    <!-- 网点远程控制 -->
    <div class="show_t">网点远程控制</div>
    <div class="website-control">
      <button @click="restart">远程重启</button>
      
      <span>版本:</span>
      <input type="text" v-model="version">
      <button @click="upgrade">APK更新</button>
    </div>
    <!-- 柜体格口管理弹窗 -->
    <transition name="hide">
      <div v-show="cabinetModel" class="cabinetModel">
        <div class="mouth-detail">
          <img @click="hideModel" src="../images/icon_close_selected.png" alt>
          <p>柜机格口管理</p>
          <div class="title">柜体硬件信息</div>
          <div class="info-list">
            <ul>
              <li>网点编号</li>
              <li>{{cabinetVo.cabSysId}}</li>
              <li>主机硬件ID</li>
              <li>{{cabinetVo.machineCode}}</li>
              <li>网点名称</li>
              <li>{{cabinetVo.cabName}}</li>
            </ul>
          </div>
          <div class="cabinet-list">
            <el-carousel indicator-position="outside" :autoplay="false">
              <!-- 
										*	outItem,bigIndex :最外层swiper数组
										* item,outIndex：一组柜机数组
										* itemInner, innerIndex：一列柜子数组
              -->
              <el-carousel-item v-for="(outItem,bigIndex) in swiperData" :key="outItem.id">
                <template v-for="(item,outIndex) of outItem">
                  <div :key="item.id" class="cabinet-tmp">
                    <header>{{(bigIndex * 4 + outIndex + 1)+'号柜'}}</header>
                    <div class="col-num">
                      <div>第{{(bigIndex * 4 + outIndex) * 2 + 1}}列</div>
                      <div>第{{(bigIndex * 4 + outIndex) * 2 + 2}}列</div>
                    </div>
                    <div class="cabinet-col">
                      <ul>
                        <template v-for="(itemInner, innerIndex) of item.left">
                          <li
                            :title="itemInner.boxCode"
                            :key="itemInner.boxCode"
                            :style="{
                              height:  itemInner.type === '1' ? '12.1212%':(itemInner.type === '2' || itemInner.type === '9') ? '15.1515%' : '',
                              background: itemInner.status === 'locked' ? 'rgba(252,133,38,1)': itemInner.status === 'used' ? 'rgba(61,122,200,1)': itemInner.status === 'broken' ? '#6E1A9A' : '',
                              color: itemInner.status != 'noUsed' ? '#fff': ''
                              }"
                            @click="selectMouth(bigIndex, outIndex,innerIndex,'left',itemInner.boxCode,itemInner.selected)"
                          >
                            {{itemInner.type === '9' ? '' : itemInner.sindex ? itemInner.sindex : innerIndex + 1}}
                            <span
                              v-if="itemInner.type === '9'"
                            >屏幕</span>
                            <i
                              v-show="itemInner.selected"
                              :style="{background:itemInner.status != 'noUsed' ? 'rgba(251,49,73,1)':''}"
                            >√</i>
                          </li>
                        </template>
                      </ul>
                      <ul>
                        <template v-for="(itemInner, innerIndex) of item.right">
                          <li
                            :title="itemInner.boxCode"
                            :key="itemInner.boxCode"
                            :style="{
                              height: itemInner.type === '1' ? '12.1212%':(itemInner.type === '2' || itemInner.type === '9') ? '15.1515%' : '',
                              background: itemInner.status === 'locked' ? 'rgba(252,133,38,1)':itemInner.status === 'used' ? 'rgba(61,122,200,1)': itemInner.status === 'broken' ? '#6E1A9A' : '',
                              color: itemInner.status != 'noUsed' ? '#fff': ''
                              }"
                            @click="selectMouth(bigIndex, outIndex, innerIndex, 'right', itemInner.boxCode, itemInner.selected)"
                          >
                            {{itemInner.type === '9' ? '' : itemInner.sindex ? itemInner.sindex : innerIndex + 1}}
                            <span
                              v-if="itemInner.type === '9'"
                            >屏幕</span>
                            <i
                              v-show="itemInner.selected"
                              :style="{background:itemInner.status != 'noUsed' ? 'rgba(251,49,73,1)':''}"
                            >√</i>
                          </li>
                        </template>
                      </ul>
                    </div>
                  </div>
                </template>
              </el-carousel-item>
            </el-carousel>
          </div>
          <div class="explain">
            <ul>
              <li>
                <div></div>
                <span>已占用</span>
              </li>
              <li>
                <div></div>
                <span>未占用</span>
              </li>
              <li>
                <div></div>
                <span>已锁定</span>
              </li>
              <li>
                <div></div>
                <span>异常</span>
              </li>
            </ul>
          </div>
          <div class="operate">
            <el-button @click="openMouth">开选定格口</el-button>
            <el-button type="danger" @click="openAllMouth">格口全开!!</el-button>
            <el-button @click="lockMouth">锁定</el-button>
            <el-button @click="unlockMouth">解锁</el-button>
            <el-button @click="repair">修复释放</el-button>
            <el-button @click="record">格口记录</el-button>
          </div>
        </div>
      </div>
    </transition>

    <!-- 格口投递记录弹窗 -->
    <el-dialog title="查询格口日志" :visible.sync="dialogMouthRecord" width="50%">
      <div class="dialog-record">
        <header>{{recordInfo.cabName + ' ' + recordInfo.boxName}}</header>
        <div class="record-list">
          <el-table :data="recordList" style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="scope">
                <el-form
                  label-position="left"
                  inline
                  class="demo-table-expand"
                  v-for="item of scope.row.records"
                  :key="item.operatorTime"
                >
                  <el-form-item label>
                    <span>{{ item.operator }}</span>
                  </el-form-item>
                  <el-form-item label>
                    <span>{{ item.operatorPhone }}</span>
                  </el-form-item>
                  <el-form-item label>
                    <span>{{ item.operatorTime}}</span>
                  </el-form-item>
                  <el-form-item label>
                    <span>{{ item.status }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column label="快递公司" prop="comName"></el-table-column>
            <el-table-column label="运单号" prop="expressId"></el-table-column>
            <el-table-column label="状态" prop="expressStateStr"></el-table-column>
            <el-table-column label="手机号" prop="memPhone"></el-table-column>
          </el-table>
        </div>
        <div class="pagging">
          <el-pagination
            @current-change="recordCurrentChange"
            layout="total, prev, pager, next"
            :total="recordTotal"
          ></el-pagination>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "WebsiteDetail",
  data() {
    return {
      cabModelCode: '',//柜体型号编码
      cabSerialNum: '',//设备序列号
      modeCabInfoPre:'',//需要修改信的柜机预览图
      modCabInfo: '',//需要修改的柜机硬件信息
      backData: [],//分组后的柜机
      dialogCabInfo: false, //柜机硬件信息弹窗
      version: "", //版本号
      recordList: [], //格口记录
      recordPage: 1, //格口记录页数
      recordTotal: 0, //格口记录总数
      recordInfo: "", //格口相关信息
      cabinetModel: false,
      cabinetVo: "",
      cabinetDetails: [], //柜机格口详情
      boxCode: "", //选中的格口
      openMouthLoading: false,
      imageUrl1: "",
      imageUrl2: "",
      imageUrl3: "",
      imageUrl4: "",
      classA: "control",
      flag: false,
      tableData2: [],
      swiperData: [], //轮播图的数据
      adminPhone: "", //搜索的鸟巢商家账号
      cabinetmemberList: [], //该柜机下绑定的鸟巢商家
      adminInfo: "", //查询的鸟巢商家信息
      priceWhitelist: [], //免费快递员列表
      priceList: "", //价格列表
      priceListSet: "", //需要设置的价格
      freeMemId: "", //搜索的免费快递员账号
      freeMemInfo: "", //免费快递员搜索结果
      overdueInfo: "", //逾期设置信息
      reserveMemList: "", //预留格口账户列表
      reserveInfo: "", //预留信息
      reserveSet: "", //需要设置的预留数据
      reserveMemId: "", //搜索的预留快递员账号
      reserveMemInfo: "", //预留快递员搜索结果
      dialogAdmin: false, //设置管理员弹窗
      dialogFreeMem: false, //设置免费快递员弹窗
      dialogPrice: false, //设置价格弹窗
      dialogOverdue: false, //逾期设置弹窗
      dialogReserve: false, //设置预留格口弹窗
      dialogReserveMem: false, //添加预留快递员
      dialogReject: false, //拒收列表弹窗
      dialogAddReject: false, //新增拒收弹窗
      dialogMouthRecord: false, //格口记录弹窗
      rejectPage: 1,
      rejectTotal: 0, //拒收总个数
      rejectList: [], //拒收列表
      rejectId: "", //拒收账号
      rejectNote: "", //拒收备注
      timeLimit: "", //逾期时限
      timeLimits: [
        {
          label: "24小时",
          value: "24"
        },
        {
          label: "48小时",
          value: "48"
        },
        {
          label: "72小时",
          value: "72"
        },
        {
          label: "96小时",
          value: "96"
        }
      ], //逾期时限选项
      overDueControl: "", //逾期控制
      overDueControls: [
        {
          label: "处理后允许投递",
          value: "1"
        },
        {
          label: "仅提醒，不限制",
          value: "0"
        }
      ] //逾期控制选项
    };
  },
  methods: {
    // 返回上一页
    back() {
      if (localStorage.backHome === "true") {
        this.$router.push({
          path: "/home"
        });
      } else {
        this.$router.push({
          path: "/website"
        });
      }
    },

    // 选中/取消选中 格口
    selectMouth(bigIndex, outerIndex, innerIndex, pos, boxCode, selected) {
      if (pos === "right") {
        this.$forceUpdate();
        this.$set(
          this.swiperData[bigIndex][outerIndex].right[innerIndex],
          "selected",
          !this.swiperData[bigIndex][outerIndex].right[innerIndex].selected
        );
      } else {
        this.$forceUpdate();
        this.$set(
          this.swiperData[bigIndex][outerIndex].left[innerIndex],
          "selected",
          !this.swiperData[bigIndex][outerIndex].left[innerIndex].selected
        );
      }

      // 实时获取所选格口的boxCode
      let backData = this.swiperData;
      let selectedBoxCode = [];
      for (let i = 0; i < backData.length; i++) {
        for (let k = 0; k < backData[i].length; k++) {
          for (let j = 0; j < backData[i][k].left.length; j++) {
            if (backData[i][k].left[j]["selected"] === true) {
              selectedBoxCode.push(backData[i][k].left[j].boxCode);
            }
          }
          for (let j = 0; j < backData[i][k].right.length; j++) {
            if (backData[i][k].right[j]["selected"] === true) {
              selectedBoxCode.push(backData[i][k].right[j].boxCode);
            }
          }
        }
      }
      selectedBoxCode = selectedBoxCode.join(",");
      this.boxCode = selectedBoxCode;
    },

    // 请求格口记录
    getRecord() {
      let params = {
        token: localStorage.token,
        page: this.recordPage,
        limit: 10,
        cabId: localStorage.websiteParams,
        boxCode: this.recordBoxcode.join(",")
      };
      this.postRequest("box/records", params).then(res => {
        this.recordList = res.data.data.expressRecords;
        this.recordTotal = res.data.data.total;
        this.recordInfo = res.data.data.expressCabinet;
      });
    },

    // 查看格口记录
    record() {
      let boxCode = this.boxCode.split(",");
      if (!boxCode[0]) {
        this.$message({
          message: "请勾选一个格口",
          type: "warning"
        });
      } else if (boxCode.length === 1) {
        this.dialogMouthRecord = true;
        this.recordBoxcode = boxCode;
        this.getRecord();
      } else {
        this.$message({
          message: "只能勾选一个格口进行查询",
          type: "warning"
        });
      }
    },

    // 格口记录翻页
    recordCurrentChange(val) {
      this.recordPage = val;
      this.getRecord();
    },

    // 开选定格口
    openMouth() {
      let params = {
        token: localStorage.token,
        id: this.cabinetVo.id,
        boxCode: this.boxCode
      };
      this.$confirm("确定打开选定的格口吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.openMouthLoading = true;
          this.postRequest("cabinet/openOne", params).then(res => {
            let backData = res.data;
            this.openMouthLoading = false;
            if ((backData.code = 10000)) {
              this.$notify({
                title: "成功",
                message: "选定格口已打开",
                type: "success"
              });
              this.getDetail();
            } else {
              this.$notify.error({
                title: "错误",
                message: backData.msg
                  ? backData.msg
                  : "服务器异常，请稍后重试！"
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          });
        });
    },
    // 格口全开！！
    openAllMouth() {
      let params = {
        token: localStorage.token,
        id: localStorage.websiteParams
      };
      this.$confirm(
        `您将要把位于 '${this.cabinetVo.cabAddress}' 名为 '${
          this.cabinetVo.cabName
        }' 的柜机格口全部打开，确定要继续吗？,`,
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }
      )
        .then(() => {
          this.postRequest("cabinet/openAll", params).then(res => {
            this.$message({
              type: "success",
              message: "格口全开操作成功!"
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          });
        });
    },
    // 锁定格口
    lockMouth() {
      let params = {
        token: localStorage.token,
        id: localStorage.websiteParams,
        boxCode: this.boxCode
      };
      this.postRequest("cabinet/locking", params).then(res => {
        if (res.data.code === 10000) {
          this.$notify({
            title: "成功",
            message: "锁定成功",
            type: "success"
          });
          // 刷新数据
          let backData = this.swiperData;
          for (let i = 0; i < backData.length; i++) {
            for (let k = 0; k < backData[i].length; k++) {
              for (let j = 0; j < backData[i][k].left.length; j++) {
                if (backData[i][k].left[j]["selected"] === true) {
                  backData[i][k].left[j].status = "locked";
                  backData[i][k].left[j]["selected"] = false;
                }
              }
              for (let j = 0; j < backData[i][k].right.length; j++) {
                if (backData[i][k].right[j]["selected"] === true) {
                  backData[i][k].right[j].status = "locked";
                  backData[i][k].right[j]["selected"] = false;
                }
              }
            }
          }
          this.swiperData = backData;
        }
      });
    },

    // 解锁格口
    unlockMouth() {
      let params = {
        token: localStorage.token,
        id: localStorage.websiteParams,
        boxCode: this.boxCode
      };
      this.postRequest("cabinet/unlock", params).then(res => {
        if (res.data.code === 10000) {
          this.$notify({
            title: "成功",
            message: "解锁成功",
            type: "success"
          });
          // 刷新数据
          let backData = this.swiperData;
          for (let i = 0; i < backData.length; i++) {
            for (let k = 0; k < backData[i].length; k++) {
              for (let j = 0; j < backData[i][k].left.length; j++) {
                if (backData[i][k].left[j]["selected"] === true) {
                  backData[i][k].left[j].status = "noUsed";
                  backData[i][k].left[j]["selected"] = false;
                }
              }
              for (let j = 0; j < backData[i][k].right.length; j++) {
                if (backData[i][k].right[j]["selected"] === true) {
                  backData[i][k].right[j].status = "noUsed";
                  backData[i][k].right[j]["selected"] = false;
                }
              }
            }
          }
          this.swiperData = backData;
        }
      });
    },

    // 修复释放
    repair() {
      let params = {
        token: localStorage.token,
        id: localStorage.websiteParams,
        boxCode: this.boxCode
      };
      this.$confirm("是否确定释放格口?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.postRequest("cabinet/restore", params).then(res => {
            if (res.data.code === 10000) {
              this.$notify({
                title: "成功",
                message: "修复成功",
                type: "success"
              });
              // 刷新数据
              // 刷新数据
              let backData = this.swiperData;
              for (let i = 0; i < backData.length; i++) {
                for (let k = 0; k < backData[i].length; k++) {
                  for (let j = 0; j < backData[i][k].left.length; j++) {
                    if (backData[i][k].left[j]["selected"] === true) {
                      backData[i][k].left[j].status = "noUsed";
                      backData[i][k].left[j]["selected"] = false;
                    }
                  }
                  for (let j = 0; j < backData[i][k].right.length; j++) {
                    if (backData[i][k].right[j]["selected"] === true) {
                      backData[i][k].right[j].status = "noUsed";
                      backData[i][k].right[j]["selected"] = false;
                    }
                  }
                }
              }
              this.swiperData = backData;
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          });
        });
    },
    // 打开弹窗
    showModel() {
      this.cabinetModel = true;
    },
    // 关闭弹窗
    hideModel() {
      this.cabinetModel = false;
    },

    // 修改柜机信息弹窗
    modCabInfoClick(cabInfo) {
      this.dialogCabInfo = true;
      this.modeCabInfoPre = this.backData[cabInfo.cabGroupNo-1]
      this.modCabInfo = cabInfo;
      this.cabModelCode = cabInfo.cabModel.trim();
      this.cabSerialNum = cabInfo.cabDesc.trim();
    },

    // 保存柜机信息
    saveCabInfoSubmit () {
      if(!this.cabModelCode) {
        this.$message.error('请输入柜体型号编码');
        return;
      }
      if(!this.cabSerialNum) {
        this.$message.error('请输入设备序列号');
        return;
      }
      let params = {
        token: localStorage.token,
        id: localStorage.websiteParams,
        cabModel: this.cabModelCode,
        cabDesc: this.cabSerialNum,
        cabGroupNo: this.modCabInfo.cabGroupNo
      }
      this.postRequest('cabinet/update',params).then(res=> {
        if(!res) {
          return;
        }
        this.$notify({
          title: '成功',
          message: '修改成功',
          type: 'success'
        });
        this.getDetail();
        this.dialogCabInfo=false;
      })
    },

    // 获取详情页数据
    getDetail() {
      let id = localStorage.websiteParams;
      let params = {
        token: localStorage.token,
        id: id
      };
      this.postRequest("cabinet/get", params).then(res => {
        let cabinetVo = res.data.data.cabinetVo;
        // 整体数据
        this.cabinetVo = cabinetVo;
        // 格口数量数据
        // 先归零
        this.tableData2 = [];
        this.tableData2.push(cabinetVo);
        // 柜体格口数据处理
        let backDatas = res.data.data.cabinetVo.cabinetDetails;
        let backData = [];
        for (let i = 0; i < backDatas.length / 2; i++) {
          backData[i] = {};
          backData[i]["left"] = backDatas[i * 2];
          backData[i]["right"] = backDatas[i * 2 + 1];
        }
        this.backData = backData
        console.log(backData)
        for (let i = 0; i < backData.length; i++) {
          // // 第一层数据增加字段
          // backData[i]["id"] = i + 1;
          // backData[i]["num"] = 1;
          // backData[i]["type"] = "副柜";
          // if (i === 0) {
          //   backData[i]["type"] = "主柜";
          // }
          let sereen1 = "";
          // left数组中增加selected字段
          for (let j = 0; j < backData[i].left.length; j++) {
            backData[i].left[j]["selected"] = false;
            if (backData[i].left[j].type === "9") {
              sereen1 = j;
            }
            if (sereen1 && j > sereen1) {
              backData[i].left[j]["sindex"] = j;
            }
          }
          let sereen = "";
          // right数组中增加selected字段
          for (let j = 0; j < backData[i].right.length; j++) {
            backData[i].right[j]["selected"] = false;
            if (backData[i].right[j].type === "9") {
              sereen = j;
            }
            if (sereen && j > sereen) {
              backData[i].right[j]["sindex"] = j;
            }
          }
        }
        // console.log(backData);

        // 将柜机每4组进行一次捆绑
        let newData = [];
        for (let i = 0; i < backData.length / 4; i++) {
          newData[i] = [];
          newData[i]["id"] = i + 1;
        }
        for (let i = 0; i < backData.length; i++) {
          newData[parseInt(i / 4)].push(backData[i]);
        }
        this.swiperData = newData;
        this.cabinetDetails = backData;
        // this.$forceUpdate();
      });
    },

    checkSite() {
      this.flag = !this.flag;
      if (this.classA == "controloff") {
        this.classA = "control";
      } else {
        this.classA = "controloff";
      }
    },
    handleAvatarSuccess1(res, file) {
      this.imageUrl1 = URL.createObjectURL(file.raw);
    },
    handleAvatarSuccess2(res, file) {
      this.imageUrl2 = URL.createObjectURL(file.raw);
    },
    handleAvatarSuccess3(res, file) {
      this.imageUrl3 = URL.createObjectURL(file.raw);
    },
    handleAvatarSuccess4(res, file) {
      this.imageUrl4 = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload1(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
    beforeAvatarUpload2(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
    beforeAvatarUpload3(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
    beforeAvatarUpload4(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },

    // 打开管理员设置弹窗
    addAdminClick() {
      this.dialogAdmin = true;
    },

    // 打开设置免费快递员弹窗
    addFreeMem() {
      this.dialogFreeMem = true;
    },

    // 打开设置价格弹窗
    setPriceClick() {
      this.dialogPrice = true;
    },

    // 打开逾期设置弹窗
    setOverdueClick() {
      this.dialogOverdue = true;
    },

    // 打开设置预留格口弹窗
    setReserveClick() {
      this.dialogReserve = true;
    },

    // 打开拒收列表弹窗
    setRejectClick() {
      this.dialogReject = true;
    },

    // 添加预留快递员
    addReserveMemClick() {
      this.dialogReserveMem = true;
    },

    // 查询鸟巢商家
    searchAdminClick() {
      if (!this.adminPhone) {
        this.$message.error("请输入鸟巢商家账号");
        return;
      }
      let params = {
        token: localStorage.token,
        phone: this.adminPhone
      };
      this.postRequest("cabinetmember/search", params).then(res => {
        let adminInfo = res.data.data.cabinetMember;
        if (!adminInfo) {
          this.$message.error("未找到相关鸟巢商家账号");
          return;
        }
        this.adminInfo = adminInfo;
      });
    },

    // 绑定鸟巢商家
    bindAdminClick() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        cabinetMemberId: this.adminInfo.id
      };
      this.postRequest("cabinetmember/set", params).then(res => {
        this.dialogAdmin = false;
        this.$notify({
          title: "成功",
          message: "绑定成功",
          type: "success"
        });
        this.getStoreList();
      });
    },

    // 删除鸟巢商家账号
    deleteAdmin(id) {
      this.$confirm("确定删除该鸟巢商家吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let params = {
            token: localStorage.token,
            cabId: localStorage.websiteParams,
            cabinetMemberId: id
          };
          this.postRequest("cabinetmember/cancel", params).then(res => {
            this.$notify({
              title: "成功",
              message: "删除成功",
              type: "success"
            });
            this.getStoreList();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    // 删除免费快递员
    deleteFreeMem(id) {
      this.$confirm("确定删除该免费快递员吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let params = {
            token: localStorage.token,
            cabId: localStorage.websiteParams,
            memberId: id
          };
          this.postRequest("price/cancelwhitelist", params).then(res => {
            this.$notify({
              title: "成功",
              message: "删除成功",
              type: "success"
            });
            this.getPriceWhitelist();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    // 添加设置免费快递员
    setFreeMemSubmit() {
      if (!this.freeMemInfo) {
        this.$message({
          message: "请先查询快递员",
          type: "warning"
        });
        return;
      }
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        memberId: this.freeMemInfo.memberId
      };
      this.postRequest("price/setwhitelist", params).then(res => {
        this.$notify({
          title: "成功",
          message: "设置成功",
          type: "success"
        });
        this.freeMemInfo = "";
        this.dialogFreeMem = false;
        this.getPriceWhitelist();
      });
    },

    // 确定设置价格
    setPriceSubmit() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        updPrice_1: this.priceListSet.price1 * 100,
        updPrice_2: this.priceListSet.price2 * 100,
        updPrice_3: this.priceListSet.price3 * 100,
        updPrice_4: this.priceListSet.price4 * 100
      };
      this.postRequest("price/set", params).then(res => {
        this.dialogPrice = false;
        this.$notify({
          title: "成功",
          message: "价格设置成功",
          type: "success"
        });
        this.getPrice();
      });
    },

    // 保存逾期设置
    overdueSubmit() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        overdueOn: this.overDueControl,
        overdueVal: this.timeLimit
      };
      this.postRequest("overdue/set", params).then(res => {
        this.$notify({
          title: "成功",
          message: "设置成功",
          type: "success"
        });
        this.dialogOverdue = false;
        this.getOverdue();
      });
    },

    // 查询预留快递员
    searchReserveMem() {
      let params = {
        token: localStorage.token,
        phone: this.reserveMemId
      };
      this.postRequest("reserve/search", params).then(res => {
        this.reserveMemInfo = res.data.data.expressMember;
      });
    },

    // 确定预留设置
    setRreserveSubmit() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        smallUpd: this.reserveSet.smallBK,
        middleUpd: this.reserveSet.middleBK,
        largeUpd: this.reserveSet.largeBK,
        microUpd: ""
      };
      this.postRequest("reserve/set", params).then(res => {
        if (!res) {
          return;
        }
        this.$notify({
          title: "成功",
          message: "预留格口设置成功",
          type: "success"
        });
        this.dialogReserve = false;
        this.getReserve();
      });
    },

    // 绑定预留快递员
    bindReserveMem() {
      if (!this.reserveMemInfo) {
        this.$message({
          message: "请先查询快递员",
          type: "warning"
        });
        return;
      }
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        memberId: this.reserveMemInfo.memberId
      };
      this.postRequest("reserve/setbooking", params).then(res => {
        this.$notify({
          title: "成功",
          message: "设置成功",
          type: "success"
        });
        this.reserveMemInfo = "";
        this.dialogReserveMem = false;
        this.getReserveMem();
      });
    },

    // 删除预留快递员
    deleteReserveMem(memberId) {
      this.$confirm("确定删除该预留快递员吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let params = {
            token: localStorage.token,
            cabId: localStorage.websiteParams,
            memberId: memberId
          };
          this.postRequest("reserve/cancelbooking", params).then(res => {
            this.$notify({
              title: "成功",
              message: "删除成功",
              type: "success"
            });
            this.getReserveMem();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    // 删除拒收账号
    deleteRejectMem(phone) {
      this.$confirm("是否删除该拒收账号?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let params = {
            token: localStorage.token,
            cabId: localStorage.websiteParams,
            phone: phone
          };
          this.postRequest("reject/cancel", params).then(res => {
            this.$notify({
              title: "成功",
              message: "删除成功",
              type: "success"
            });
            this.getRejectList();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    // 新增拒收账户
    addRejectSubmit() {
      if (!this.rejectId) {
        this.$message.error("请填写拒收账户");
        return;
      }
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        phone: this.rejectId,
        note: this.rejectNote
      };
      this.postRequest("reject/set", params).then(res => {
        this.$notify({
          title: "成功",
          message: "添加成功",
          type: "success"
        });
        this.dialogAddReject = false;
        this.getRejectList();
      });
    },

    // APK更新
    upgrade() {
      if (!this.version) {
        this.$message({
          message: "请输入版本号",
          type: "warning"
        });
        return;
      }
      let params = {
        token: localStorage.token,
        id: localStorage.websiteParams,
        version: this.version
      };
      this.postRequest("cabinet/upgrade", params).then(res => {
        this.$notify({
          title: "成功",
          message: "版本更新成功",
          type: "success"
        });
      });
    },

    // 远程重启
    restart() {
      this.$confirm("确定远程重启吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let params = {
            token: localStorage.token,
            id: localStorage.websiteParams
          };
          this.postRequest("cabinet/restart", params).then(res => {
            if (!res) {
              return;
            }
            this.$notify({
              title: "成功",
              message: "重启成功",
              type: "success"
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消操作"
          });
        });
    },

    // 获取该柜机下绑定鸟巢商家
    getStoreList() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams
      };
      this.postRequest("cabinetmember/get", params).then(res => {
        this.cabinetmemberList = res.data.data.list;
      });
    },

    // 查询免费快递员
    searchFreeMem() {
      let params = {
        token: localStorage.token,
        phone: this.freeMemId
      };
      this.postRequest("price/search", params).then(res => {
        this.freeMemInfo = res.data.data.expressMember;
      });
    },

    // 获取免费快递员
    getPriceWhitelist() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams
      };
      this.postRequest("price/whitelist", params).then(res => {
        this.priceWhitelist = res.data.data.list;
      });
    },

    // 查询柜机价格
    getPrice() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams
      };
      this.postRequest("price/get", params).then(res => {
        let price = res.data.data.price;
        if (!price) {
          price = {
            price1: 0,
            price2: 0,
            price3: 0,
            price4: 0
          };
        } else {
          price.price1 /= 100;
          price.price2 /= 100;
          price.price3 /= 100;
          price.price4 /= 100;
        }
        this.priceList = price;
        this.priceListSet = {
          price1: price.price1,
          price2: price.price2,
          price3: price.price3,
          price4: price.price4
        };
      });
    },

    // 查询逾期设置
    getOverdue() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams
      };
      this.postRequest("overdue/get", params).then(res => {
        let overdueInfo = res.data.data.overdue;
        this.overdueInfo = overdueInfo;
        this.timeLimit = overdueInfo.overdueVal.toString();
        this.overDueControl = overdueInfo.overdueOn;
      });
    },

    // 查询预留格口数量
    getReserve() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams
      };
      this.postRequest("reserve/get", params).then(res => {
        let reserveInfo = res.data.data.boxReserve;
        this.reserveInfo = reserveInfo;
        this.reserveSet = {
          largeBK: reserveInfo.largeBK,
          largeTOT: reserveInfo.largeTOT,
          middleBK: reserveInfo.middleBK,
          middleTOT: reserveInfo.middleTOT,
          smallBK: reserveInfo.smallBK,
          smallTOT: reserveInfo.smallTOT
        };
      });
    },

    // 获取预留格口账户列表
    getReserveMem() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams
      };
      this.postRequest("reserve/bookinglist", params).then(res => {
        this.reserveMemList = res.data.data.list;
      });
    },

    // 获取拒收列表
    getRejectList() {
      let params = {
        token: localStorage.token,
        cabId: localStorage.websiteParams,
        page: this.rejectPage,
        limit: 10
      };
      this.postRequest("reject/list", params).then(res => {
        this.rejectList = res.data.data.list;
        this.rejectTotal = res.data.data.total;
      });
    },

    // 拒收列表翻页
    handleCurrentChange(val) {
      this.rejectPage = val;
      this.getRejectList();
    }
  },
  mounted() {
    this.getDetail();
    // 获取该柜机下绑定的鸟巢商家
    this.getStoreList();
    // 获取免费快递员
    this.getPriceWhitelist();
    // 查询柜机价格
    this.getPrice();
    // 查询预期设置
    this.getOverdue();
    // 查询预留格口数量
    this.getReserve();
    // 获取预留格口账户列表
    this.getReserveMem();
    // 获取拒收列表
    this.getRejectList();
  }
};
</script>

<style scoped>
.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
}

.back {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.show_t {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 1%;
  background-color: #e4e4e4;
  font-size: 16px;
  color: #606060;
  position: relative;
  box-sizing: border-box;
}

.baseinfo {
  width: 98%;
  height: 60px;
  padding: 0 1%;
}

.baseinfo .row {
  /* display: inline-block; */
  width: 18%;
  height: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.baseinfo .row.srow {
  width: 28%;
}

.baseinfo .row .rowleft {
  color: #606060;
  font-size: 14px;
}

.baseinfo .row .rowright {
  color: #a8a8a8;
  font-size: 14px;
  margin-left: 5px;
}

.placeinfo {
  width: 98%;
  height: 80px;
  padding: 10px 1%;
}

.placeinfo .row {
  width: 18%;
  height: 40px;
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.placeinfo .row .rowleft {
  line-height: 40px;
  color: #606060;
  font-size: 14px;
}

.placeinfo .row .rowright {
  line-height: 40px;
  color: #a8a8a8;
  font-size: 14px;
  margin-left: 5px;
}

.placeinfo .row.srow {
  width: 50%;
}

.boxinfo {
  width: 98%;
  height: 380px;
  padding: 15px 1%;
}

.boxinfo .boxinfoleft {
  display: inline-block;
  width: 65%;
  height: 100%;
  float: left;
}

.boxinfo .boxinforight {
  display: inline-block;
  width: 35%;
  height: 100%;
  text-align: center;
  float: left;
  cursor: pointer;
}

.boxinfo .boxinforight .tips {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #606060;
}

.boxinfo .boxinforight .tips span {
  color: red;
}

/* .boxinfo .boxinforight img {
  display: inline-block;
  width: 270px;
  height: 160px;
} */

.table1 .cell {
  max-height: 40px !important;
}

.cell button {
  width: 70px;
  height: 40px;
  padding: 0;
  line-height: 40px;
}

.table2 {
  margin-top: 30px;
}

.table2 .cell {
  height: 30px;
}

.control {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 10px;
  background-image: url(../images/icon_down.png);
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
}

.controloff {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 10px;
  background-image: url(../images/icon_up.png);
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
}

.upload {
  width: 100%;
  height: 350px;
  padding: 15px 1%;
  box-sizing: border-box;
}

.upload .uploadrow {
  display: inline-block;
  width: 22.5%;
  min-height: 280px;
  margin: 0 1%;
  float: left;
}

.upload .uploadrow .uptitle {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #606060;
  font-size: 16px;
  border: 1px solid #ccc;
}

.avatar-uploader {
  text-align: center;
  margin-top: 25px;
}

.avatar-uploader .el-upload {
  display: block !important;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  display: block;
  font-size: 28px;
  color: #8c939d;
  width: 280px;
  height: 180px;
  line-height: 178px;
  text-align: center;
  border: 1px dashed #d9d9d9;
}
.avatar-uploader-icon:hover {
  border: 1px dashed #3d7ac8;
}

.el-upload img {
  width: 100%;
  height: 180px;
}

.btnrow {
  margin-top: 10px;
  height: 50px;
  text-align: center;
}

.btnrow button {
  width: 100px;
  height: 40px;
  margin: 5px 20px;
}

.cabinetModel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 110;
  padding: 50px 7.29%;
  box-sizing: border-box;
}

#smallMap {
  width: 100%;
  height: 250px;
}

.mouth-detail {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.mouth-detail img {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.mouth-detail p {
  width: 100%;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 20px;
  text-align: left;
}

.mouth-detail .title {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  text-align: left;
}

.mouth-detail .info-list {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.mouth-detail .info-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(229, 229, 229, 1);
}

.mouth-detail .info-list ul li {
  font-size: 14px;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  text-align: center;
  line-height: 50px;
  border-right: 1px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
}

.mouth-detail .info-list ul li:last-child {
  border-right: none;
}

.mouth-detail .info-list ul li:nth-child(odd) {
  width: 9.375%;
  height: 100%;
}

.mouth-detail .info-list ul li:nth-child(even) {
  width: 23.9375%;
  height: 100%;
}

.mouth-detail .cabinet-list {
  width: 100%;
  height: 61.22%;
  position: relative;
}

.mouth-detail .cabinet-list .el-carousel {
  height: 100%;
}

.mouth-detail .cabinet-list >>> .el-carousel__container {
  height: 100%;
}

.content >>> .el-carousel__indicators {
  display: none;
}

.mouth-detail .cabinet-list .el-carousel__item {
  padding: 0 4.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp {
  width: 22.865%;
  height: 100%;
  background: rgba(244, 244, 244, 1);
  padding: 6px;
  border: 1px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp header {
  width: 100%;
  height: 6.16438%;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  border: 1px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp .col-num {
  width: 100%;
  height: 6.16438%;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  border: 1px solid rgba(229, 229, 229, 1);
  border-top: none;
  box-sizing: border-box;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp .col-num div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
}

.mouth-detail
  .cabinet-list
  .el-carousel__item
  .cabinet-tmp
  .col-num
  div:last-child {
  border-right: none;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp .cabinet-col {
  width: 100%;
  height: 87.6712%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp ul {
  width: 46.875%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp ul li {
  width: 100%;
  height: 6.0606%;
  font-size: 12px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  background-color: #fff;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp ul li span {
  width: 69.3333%;
  height: 68.75%;
  font-size: 16px;
  font-weight: bold;
  color: rgba(61, 122, 200, 1);
  background: linear-gradient(
    0deg,
    rgba(185, 229, 255, 1),
    rgba(232, 247, 255, 1)
  );
  border: 1px solid rgba(166, 222, 255, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mouth-detail .cabinet-list .el-carousel__item .cabinet-tmp ul li i {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
  font-size: 12px;
  text-align: left;
  line-height: 15px;
  color: #fff;
  background: rgba(61, 122, 200, 1);
}

.mouth-detail .explain {
  width: 100%;
  height: 26px;
  padding-left: 65px;
  box-sizing: border-box;
  margin-top: 24px;
}

.mouth-detail .explain ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.mouth-detail .explain ul li {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #666666;
}

.mouth-detail .explain ul li div {
  width: 70px;
  height: 26px;
  margin-right: 15px;
  box-sizing: border-box;
}

.mouth-detail .explain ul li:nth-child(1) div {
  background-color: #3d7ac8;
}

.mouth-detail .explain ul li:nth-child(2) div {
  border: 1px solid rgba(229, 229, 229, 1);
}

.mouth-detail .explain ul li:nth-child(3) div {
  background-color: #fc8526;
}

.mouth-detail .explain ul li:nth-child(4) div {
  background-color: #6e1a9a;
}

.mouth-detail .operate {
  width: 100%;
  height: 52px;
  padding: 0 25.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 20px;
}

.mouth-detail .operate .el-button {
  width: 152px;
  height: 52px;
}

.admin {
  width: 100%;
  padding: 20px 0 30px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.admin > span {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(61, 122, 200, 1);
  margin-right: 250px;
  margin-top: 10px;
}

.admin .people {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.admin .people > div {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin .people > div .info {
  width: 200px;
  height: 100%;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 30px;
}

.admin .people > div .info span:nth-child(2) {
  color: #606060;
}

.admin .people > div button {
  background: rgba(251, 49, 73, 1);
}

.admin .people button {
  width: 60px;
  height: 30px;
  background: #3d7ac8;
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
  border: none;
}

.price-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 30px 30px;
  box-sizing: border-box;
}

.price-set .price-list {
  width: 90%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-set .price-list button {
  width: 60px;
  height: 30px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  border: none;
  line-height: 30px;
}

.price-set .price-list > div {
  width: 150px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.price-set .price-list > div span:nth-child(2) {
  color: #606060;
}

.price-set > span {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(61, 122, 200, 1);
  line-height: 14px;
  margin-bottom: 10px;
}

.price-set .free-mem {
  width: 40%;
  height: 30px;
  padding-left: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.price-set .add-reserve-mem {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.price-set .add-reserve-mem button {
  width: 60px;
  height: 30px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
}

.price-set .free-mem > span {
  width: 12px;
  height: 12px;
  background-color: #3d7ac8;
  border-radius: 50%;
}

.price-set .free-mem > div {
  width: 100px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}

.price-set .free-mem button {
  width: 60px;
  height: 30px;
  background: rgba(251, 49, 73, 1);
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
  border: none;
}

.price-set .add-btn {
  width: 40%;
  height: 30px;
}
.price-set .add-btn button {
  float: right;
  width: 60px;
  height: 30px;
  background: #3d7ac8;
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
  border: none;
}

.overdue-set {
  width: 100%;
  height: 80px;
  padding: 20px 0 30px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.overdue-set > div {
  width: 200px;
  height: 100%;
  margin-right: 120px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 30px;
}

.overdue-set > div span:last-child {
  color: #606060;
}

.overdue-set button {
  width: 60px;
  height: 30px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
  border: none;
}

.rejection {
  width: 100%;
  height: 80px;
  padding: 20px 0 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}

.rejection button {
  width: 60px;
  height: 30px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
  border: none;
  margin-left: 75px;
}

.website-control {
  width: 100%;
  height: 130px;
  padding: 20px 0 80px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.website-control button {
  width: 100px;
  height: 30px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
  border: none;
  margin-right: 80px;
}

.website-control button:nth-child(4) {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(61, 122, 200, 1);
  color: #3d7ac8;
  box-sizing: border-box;
  line-height: 28px;
  margin-left: 80px;
}

.website-control span {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  margin-right: 20px;
}

.website-control input {
  width: 262px;
  height: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 10px;
  box-sizing: border-box;
}

.dialog-admin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-admin header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  padding-left: 20px;
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 30px;
  line-height: 50px;
}

.dialog-admin .operate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-admin .operate > div {
  width: 370px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}

.dialog-admin .operate > div input {
  width: 262px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  padding-left: 10px;
  box-sizing: border-box;
}

.dialog-admin .operate .btns {
  justify-content: center;
}

.dialog-admin .operate .btns button {
  width: 122px;
  height: 42px;
  border: 1px solid rgba(77, 190, 255, 1);
  border-radius: 2px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  line-height: 38px;
  background: rgba(77, 190, 255, 1);
}

.dialog-admin .operate .btns button:nth-child(1) {
  border: 1px solid rgba(229, 229, 229, 1);
  background-color: #fff;
  color: #666666;
  margin-right: 60px;
}

.dialog-admin .operate .title {
  width: 500px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}

.dialog-admin .operate .title span:nth-child(1),
.dialog-admin .operate .title span:nth-child(3) {
  width: 200px;
  height: 1px;
  background-color: #e5e5e5;
}

.dialog-admin .operate .info {
  height: 126px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}

.dialog-admin .operate .info span {
  margin-bottom: 20px;
}

.dialog-price {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-price header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  margin-bottom: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}

.dialog-price > div {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 30px;
}

.dialog-price > div input {
  width: 122px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0 10px;
}

.dialog-price .btns {
  height: 42px;
  margin-top: 40px;
}

.dialog-price .btns button {
  width: 122px;
  height: 42px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 2px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 40px;
  background-color: #fff;
}

.dialog-price .btns button:nth-child(2) {
  border: 1px solid rgba(77, 190, 255, 1);
  background: rgba(77, 190, 255, 1);
  color: #fff;
  margin-left: 60px;
}

.dialog-overdue {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-overdue header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  padding-left: 20px;
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  margin-bottom: 40px;
}

.dialog-overdue .select-box {
  width: 400px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 20px;
}

.dialog-overdue .select-box >>> .el-select {
  height: 32px;
}

.dialog-overdue .select-box >>> .el-input__inner {
  height: 32px;
  line-height: 32px;
}

.dialog-overdue .select-box >>> .el-input__icon {
  line-height: 32px;
}

.dialog-overdue .select-box span {
  margin-right: 10px;
}

.dialog-overdue .btns {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.dialog-overdue .btns button {
  width: 122px;
  height: 42px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 2px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 40px;
  background-color: #fff;
}

.dialog-overdue .btns button:nth-child(2) {
  border: 1px solid rgba(77, 190, 255, 1);
  color: #fff;
  background: rgba(77, 190, 255, 1);
  margin-left: 60px;
}

.dialog-rejcet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-rejcet header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.dialog-rejcet .search-box {
  width: 500px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dialog-rejcet .search-box .input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 42px;
  background: rgba(242, 242, 242, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  box-sizing: border-box;
}

.dialog-rejcet .search-box .input-box img {
  width: 14px;
  height: 14px;
  margin: 0 10px;
}

.dialog-rejcet .search-box .input-box input {
  width: 200px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  background: rgba(242, 242, 242, 1);
  border: none;
  box-sizing: border-box;
}

.dialog-rejcet .search-box button {
  width: 82px;
  height: 42px;
  background: rgba(61, 122, 200, 1);
  border: 1px solid rgba(61, 122, 200, 1);
  border-radius: 2px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
  box-sizing: border-box;
}

.dialog-rejcet .search-box button:nth-child(3) {
  border: 1px solid rgba(61, 122, 200, 1);
  background-color: #fff;
  color: #3d7ac8;
}

.dialog-rejcet .list {
  width: 500px;
  height: 360px;
  margin-top: 20px;
}

.dialog-rejcet .list ul {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dialog-rejcet .list ul li {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.dialog-rejcet .list ul li span:nth-child(1) {
  width: 200px;
}

.dialog-rejcet .list ul li button {
  width: 60px;
  height: 30px;
  background: rgba(61, 122, 200, 1);
  border-radius: 4px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
}

.dialog-rejcet .paging {
  width: 500px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.dialog-addReject {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-addReject input {
  width: 100%;
  height: 42px;
  background: rgba(242, 242, 242, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
}

.dialog-addReject .note {
  width: 100%;
  height: 102px;
  background: rgba(242, 242, 242, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  font-size: 14px;
  position: relative;
}

.dialog-addReject .note textarea {
  width: 100%;
  height: 80px;
  border: none;
  background: rgba(242, 242, 242, 1);
  padding-left: 10px;
  box-sizing: border-box;
}

.dialog-addReject .note span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 10px;
  color: #999999;
}

.dialog-addReject .btns {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.dialog-addReject .btns button {
  width: 122px;
  height: 42px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 2px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.dialog-addReject .btns button:nth-child(2) {
  border: 1px solid rgba(77, 190, 255, 1);
  background: rgba(77, 190, 255, 1);
  color: #fff;
}

.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 20%;
}

.demo-table-expand .el-form-item:nth-child(3) {
  width: 30%;
}

.dialog-record header {
  width: 100%;
  height: 40px;
  background: rgba(228, 228, 228, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}

.dialog-record .record-list {
  width: 100%;
  height: 336px;
}

.dialog-record .pagging {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.dialog-record .el-table {
  height: 100%;
  overflow: hidden;
}

.dialog-record >>> .el-table__body-wrapper {
  height: 308px;
  overflow: auto;
}

.dialog-record >>> .el-table__body-wrapper .el-table__row {
  width: 90%;
}

.dialog-cab-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-cab-info > header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.dialog-cab-info .input-box {
  width: 400px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 20px;
  margin-right: 100px;
}

.dialog-cab-info .input-box input {
  width: 200px;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}

.dialog-cab-info .preview {
  width: 250px;
  height: 400px;
  background: rgba(244, 244, 244, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-cab-info .preview  header {
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #606060;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background-color: #fff;
}

.dialog-cab-info .preview .mouth {
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.dialog-cab-info .preview .mouth  ul {
  width: 110px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dialog-cab-info .preview .mouth  ul li {
  width: 100%;
  height: 6.060606%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E5E5E5;
  box-sizing: border-box;
}

.dialog-cab-info .preview .mouth  ul li span  {
  width: 69.3333%;
  height: 68.75%;
  font-size: 16px;
  font-weight: bold;
  color: rgba(61, 122, 200, 1);
  background: linear-gradient(
    0deg,
    rgba(185, 229, 255, 1),
    rgba(232, 247, 255, 1)
  );
  border: 1px solid rgba(166, 222, 255, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dialog-cab-info .btns {
  width: 300px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.dialog-cab-info .btns button {
  width:122px;
  height:42px;
  border:1px solid rgba(229,229,229,1);
  border-radius:2px;
  font-size:16px;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height: 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.dialog-cab-info .btns button:nth-child(2) {
  border:1px solid rgba(77,190,255,1);
  background-color: #4DBEFF;
  color: #fff;
}

</style>