<template>
  <div v-if="addModel" class="background">
    <div class="container">
      <p>{{addModelValue? '修改模版' : '新增模版'}}</p>
      <img class="close-model" 
           src="../../images/icon_close_selected.png"
           @click="closeModel">
      <header>模版信息</header>
      <div class="inputInfo">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
          <el-form-item label="模版名称" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item label="模版描述" prop="note">
            <el-input v-model="ruleForm.note"></el-input>
          </el-form-item>
          <el-form-item label="单列格口数量" prop="mouthNum">
          <el-select v-model="ruleForm.mouthNum" 
                           placeholder="请选择"
                           @change="mouthNumChange">
                  <el-option
                    v-for="item in mouthOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                    >
                  </el-option>
                </el-select>
          </el-form-item>
        </el-form>
      </div>
      <header>创建模版</header>
      <div class="createTmp">
        <div class="tmp-title">
          <span>实时预览</span>
          <span>格口设置</span>
        </div>
        <div class="selectList">
          <span class="tip" v-if="ruleForm.mouthNum === null" >选择格口数量将自动生成</span>
          <ul>
            <template v-for="(item,index) in leftMouth">
              <li :key="item.id">
                <el-select v-model="item.value" 
                           placeholder="请选择"
                           @change="leftValueChange(index)">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                    >
                  </el-option>
                </el-select>
              </li> 
            </template>
          </ul>
          <ul>
            <template v-for="(item,index) of rightMouth">
              <li :key="item.id">
                <el-select v-model="item.value" 
                           placeholder="请选择"
                           @change="rightValueChange(index)">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </li> 
            </template>
          </ul>
        </div>
        <div class="operate">
          <el-button @click="reset">重置</el-button>
          <el-button type="primary" @click="saveTmp">保存</el-button>
        </div>
        <div class="cabinet-preview">
          <span class="tip" v-if="ruleForm.mouthNum === null" >选择格口数量将自动生成</span>
          <ul>
            <template v-for="item of leftMouth">
            <li :key="item.id"
                :style="{height: item.value === '1'  ? '11.7646%':((item.value === '2' || item.value === '9' )? '17.6469%':'')}"
            >
            <span v-if="item.value === '9'" class="screen">屏幕</span>
            <span v-if="item.value === '8'">空</span>
            </li>
            </template>
          </ul>
          <ul>
            <template v-for="item of rightMouth">
            <li :key="item.id"
                :style="{height: item.value === '1' ? '11.7646%':((item.value === '2' || item.value === '9' ) ? '17.6469%':'')}"
            >
            <span v-if="item.value === '9'">屏幕</span>
            <span v-if="item.value === '8'">空</span>
            </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</template>
<script>
export default {
  name: "AddTmp",
  props: ["addModel",'addModelValue'],
  data() {
    return {
      leftMouth: [], //第一列格口
      rightMouth: [], //第二列格口
      ruleForm: {
        name: "",
        note: "",
        mouthNum: null //格口个数
      },
      rules: {
        name: [{ required: true, message: "请输入模版名称", trigger: "blur" }],
        note: [{ required: true, message: "请输入模版描述", trigger: "blur" }],
        mouthNum: [
          { required: true, message: "请输入格口数量", trigger: "blur" }
        ]
      },
      options: [
        {
          value: "0",
          label: "小"
        },
        {
          value: "1",
          label: "中"
        },
        {
          value: "2",
          label: "大"
        },
        {
          value: "9",
          label: "屏幕"
        },
        {
          value: "8",
          label: "空"
        }
      ],
      // 选择格口数量
      mouthOptions: [
        {
          value: 1,
          label: 1
        },
        {
          value: 2,
          label: 2
        },
        {
          value: 3,
          label: 3
        },
        {
          value: 4,
          label: 4
        },
        {
          value: 5,
          label: 5
        },
        {
          value: 6,
          label: 6
        },
        {
          value: 7,
          label: 7
        },
        {
          value: 8,
          label: 8
        },
        {
          value: 9,
          label: 9
        },
        {
          value: 10,
          label: 10
        },
        {
          value: 11,
          label: 11
        },
        {
          value: 12,
          label: 12
        },
        {
          value: 13,
          label: 13
        },
        {
          value: 14,
          label: 14
        },
        {
          value: 15,
          label: 15
        },
        {
          value: 16,
          label: 16
        },
        {
          value: 17,
          label: 17
        },
        {
          value: 18,
          label: 18
        }
      ],
      value: ""
    };
  },

  methods: {
    // 输入格口数量时生成相应选择器数组
    mouthNumChange() {
      let leftMouthValues = [];
      let rightMouthValues = [];
      for (let i = 0; i < this.ruleForm.mouthNum; i++) {
        leftMouthValues[i] = {};
        rightMouthValues[i] = {};
        leftMouthValues[i]["id"] = i;
        rightMouthValues[i]["id"] = i;
        leftMouthValues[i]["value"] = "0";
        rightMouthValues[i]["value"] = "0";
      }
      this.leftMouth = leftMouthValues;
      this.rightMouth = rightMouthValues;
    },
    // // 第一列格口数据变化
    // leftValueChange(index) {
    //   // 如果是屏幕则下一行选择框消失
    //   if (this.leftMouth[index].value === "-1") {
    //     this.leftMouth.splice(index + 1, 1);
    //   }
    // },
    // // 第二列格口数据变化
    // rightValueChange(index) {
    //   // 如果是屏幕则下一行选择框消失
    //   if (this.rightMouth[index].value === "-1") {
    //     this.rightMouth.splice(index + 1, 1);
    //   }
    // },
    // 重置
    reset() {
      this.mouthNumChange();
    },
    // 保存
    saveTmp() {
      if (this.ruleForm.name && this.ruleForm.note && this.ruleForm.mouthNum) {
        let tempValue = [];
        for (let i = 0; i < this.leftMouth.length; i++) {
          tempValue.push(this.leftMouth[i].value);
        }
        tempValue.push("|");
        for (let i = 0; i < this.rightMouth.length; i++) {
          tempValue.push(this.rightMouth[i].value);
        }
        tempValue = tempValue.toString();
        tempValue =
          tempValue.slice(0, tempValue.indexOf("|") - 1) +
          "|" +
          tempValue.slice(tempValue.indexOf("|") + 2);
        let params = {
          token: localStorage.token,
          tempName: this.ruleForm.name,
          tempValue: tempValue,
          note: this.ruleForm.note
        };
        let updateParams = {
          token: localStorage.token,
          tempName: this.ruleForm.name,
          tempValue: tempValue,
          note: this.ruleForm.note,
          id: this.addModelValue.id
        }
        // 修改模版走此接口
        if(this.addModelValue) {
          this.postRequest("template/update", updateParams).then(res => {
          if (res.data.code === 10000) {
            this.$notify({
              title: "成功",
              message: "修改模版成功",
              type: "success"
            });
            (this.leftMouth = []), //第一列格口
              (this.rightMouth = []), //第二列格口
              (this.ruleForm = {
                name: "",
                note: "",
                mouthNum: null //格口个数
              }),
              this.$emit("closeAddModel");
          }
        });
        }
        // 添加模版走此接口
        else {
          this.postRequest("template/insert", params).then(res => {
          if (res.data.code === 10000) {
            this.$notify({
              title: "成功",
              message: "添加模版成功",
              type: "success"
            });
            (this.leftMouth = []), //第一列格口
              (this.rightMouth = []), //第二列格口
              (this.ruleForm = {
                name: "",
                note: "",
                mouthNum: null //格口个数
              }),
              this.$emit("closeAddModel");
          }
        });
        }
        
      } else {
        this.$message({
          message: "您漏填了模版信息",
          type: "warning"
        });
      }
    },
    // 关闭模版
    closeModel() {
      (this.leftMouth = []), //第一列格口
        (this.rightMouth = []), //第二列格口
        (this.ruleForm = {
          name: "",
          note: "",
          mouthNum: null //格口个数
        }),
        this.$emit("closeAddModel");
    }
  },
  watch: {
    addModelValue () {
      // 模版值
      let tempValue = this.addModelValue.tempValue
      // 将模版值数据转换
      let leftTempValue = tempValue.slice(0,tempValue.indexOf('|')).split(',')
      let rightTempValue = tempValue.slice(tempValue.indexOf('|')+1).split(',')
      
      let leftMouthValues = [];
      let rightMouthValues = [];
      for (let i = 0; i < leftTempValue.length; i++) {
        leftMouthValues[i] = {};
        leftMouthValues[i]["id"] = i;
        leftMouthValues[i]["value"] = leftTempValue[i];
      }
      for (let i = 0; i < rightTempValue.length; i++) {
        rightMouthValues[i] = {};       
        rightMouthValues[i]["id"] = i;
        rightMouthValues[i]["value"] = rightTempValue[i];
      }
      this.leftMouth = leftMouthValues;
      this.rightMouth = rightMouthValues;
      // 输入框值
      let ruleForm = {
        name:  this.addModelValue.tempName,
        note: this.addModelValue.note,
        mouthNum: Math.ceil(this.addModelValue.amount/2)
      }
      this.ruleForm = ruleForm
    }
  },
  computed: {},
  mounted() {}
};
</script>
<style scoped>
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 110;
  padding: 50px 20%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}

.container p {
  font-size: 18px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
}

.container header {
  width: 100%;
  height: 40px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 40px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

.container .inputInfo {
  width: 100%;
  height: 50px;
}

.container .inputInfo .select-title {
  width: 70px;
  height: 26px;
  margin-left: 20px;
  font-size: 14px;
  color: #666;
}

.container .inputInfo .el-form {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.container .inputInfo .el-form .el-form-item {
  margin: 0;
}

.container .createTmp {
  width: 100%;
  height: 74%;
  padding: 50px 10% 0 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
}

.container .createTmp .tmp-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: left;
}

.container .createTmp .tmp-title span:nth-child(1) {
  margin-right: 25%;
}

.container .createTmp .selectList {
  width: 80%;
  height: 100%;
  background-color: #e5e5e5;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  position: relative;
}

.container .createTmp .selectList .tip {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 50px;
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  color: #999;
}

.container .createTmp .selectList ul {
  width: 45%;
  height: 100%;
}

.container .createTmp .selectList ul li {
  width: 100%;
  height: 8%;
  /* background-color: #fff; */
  margin-bottom: 2px;
}

.container .createTmp .operate {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container .createTmp .operate .el-button {
  margin-bottom: 20px;
}

.container .createTmp .operate .el-button + .el-button {
  margin: 0;
}

.cabinet-preview {
  position: absolute;
  width: 28%;
  height: 90%;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e5e5e5;
  padding: 6px;
  box-sizing: border-box;
}

.cabinet-preview .tip {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 50px;
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  color: #999;
}

.cabinet-preview ul {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cabinet-preview ul li {
  width: 100%;
  height: 5.8823%;
  border-bottom: 2px solid #e5e5e5;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cabinet-preview ul li .screen {
  width: 80%;
  height: 80%;
  background: linear-gradient(
    0deg,
    rgba(185, 229, 255, 1),
    rgba(232, 247, 255, 1)
  );
  border: 1px solid rgba(166, 222, 255, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(61, 122, 200, 1);
}

.close-model {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
</style>