<template>
  <div :class="[searchBox, sliderClass]">
    <div class="header">
      <span class="title">查询条件</span>
      <span class="slider" @click="sliderClick">{{sliderClass?'展开':'收起'}}</span>
    </div>
    <div class="input-box">
      <ul>
        <li>
          <div>
            <span>模版名称:</span>
            <input type="text" v-model="tempName" @keyup.enter="searchClick">
          </div>
          <div>
            <span>模版状态:</span>
            <el-select v-model="statusValue" 
                       clearable 
                       placeholder="请选择">
              <el-option
                v-for="item in status"
                :key="item.id"
                :label="item.value"
                :value="item.id"
                >
              </el-option>
            </el-select>
          </div>
        </li>
        <li>
          <div>
            <span>柜体类型:</span>
            <el-select v-model="isPrimaryValue" 
                       clearable 
                       placeholder="请选择">
              <el-option
                v-for="item in isPrimary"
                :key="item.id"
                :label="item.value"
                :value="item.id"
                >
              </el-option>
            </el-select>
          </div>
        </li>
        <li>
          <div>
            <span>柜体规格描述:</span>
            <input type="text" v-model="note" @keyup.enter="searchClick">
          </div>
        </li>
      </ul>
    </div>
    <div class="options">
      <button @click="resetClick">清空</button>
      <button @click="searchClick">查询</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "Search",
  data() {
    return {
      isPrimary:[
        {
          id: "1",
          value: "主柜"
        },
        {
          id: "0",
          value: "副柜"
        }
      ],//柜体类型
      status: [
        {
          id: "0",
          value: "未审核"
        },
        {
          id: "1",
          value: "已审核"
        }
      ], //模版状态列表
      statusValue: "", //选中模版状态的值
      tempName: "", //模版名称
      note: "",//柜体规格描述
      isPrimaryValue: "",//柜体类型的值
      searchBox: "search-box",
      sliderClass: ""
    };
  },
  methods: {
    // 点击查询按钮
    searchClick() {
      let searchParams = {
        tempName: this.tempName,
        tempCode:"",
        isPrimary: this.isPrimaryValue,
        note: this.note
      };
      this.$emit("search", searchParams);
    },

    // 清空
    resetClick () {
      this.tempName = "";
      this.isPrimaryValue = "";
      this.note = "";
      this.statusValue = "";
    },

    // 展开/收起
    sliderClick() {
      if (this.sliderClass) {
        this.sliderClass = "";
      } else {
        this.sliderClass = "close-search";
      }
      this.$emit ('tableHeightChange',this.sliderClass)
    }
  },
  computed: {},
  mounted() {
    let params = {
      token: localStorage.token
    };
    // 请求城市列表
    this.postRequest("common/allCity", params).then(res => {
      let data = res.data.data.list;
      this.city = data;
    });
  }
};
</script>
<style scoped>
.search-box {
  width: 100%;
  height: 240px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  box-shadow: 3px 0px 4px rgba(82, 82, 81, 0.04);
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.close-search {
  height: 58px;
  overflow: hidden;
}

.search-box .header {
  width: 100%;
  height: 58px;
  line-height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-box .title {
  font-size: 18px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
}

.search-box .slider {
  font-size: 16px;
  font-weight: 400;
  color: rgba(61, 122, 200, 1);
  margin-right: 20px;
  cursor: pointer;
}

.search-box .input-box {
  width: 100%;
  height: 100px;
  background: rgba(228, 228, 228, 1);
}

.search-box .input-box ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box .input-box ul li {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.search-box .input-box ul li > div {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: rgba(96, 96, 96, 1);
}

.search-box .input-box ul li > div > span {
  margin-right: 20px;
}

.search-box .input-box ul li > div input {
  width: 54.1666%;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: #606266;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  padding-left: 15px;
  box-sizing: border-box;
}

.search-box .input-box ul li > div .el-select {
  width: 54.1666%;
  height: 32px;
}

.search-box .input-box ul li > div .el-select >>> .el-input__inner {
  border: 1px solid rgba(175, 209, 253, 1);
  border-radius: 2px;
  height: 32px;
  box-sizing: border-box;
}

.search-box .input-box ul li > div .el-select >>> .el-input__icon {
  line-height: 30px;
}

.search-box .options {
  width: 100%;
  height: 82px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  box-sizing: border-box;
}

.search-box .options button {
  width: 102px;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  cursor: pointer;
  line-height: 32px;
}

.search-box .options button:nth-child(1) {
  background-color: #fb3149;
  border: 1px solid rgba(252, 133, 38, 1);
  margin-right: 40px;
}

.search-box .options button:nth-child(2) {
  background-color: #3d7ac8;
  border: 1px solid rgba(61, 122, 200, 1);
}
</style>