
<template>
  <div :class="[tableClass, sliderClass]">
    <div class="options">
      <span>{{mainSelect}}</span>
      <button @click="openAddModel">新增</button>
      <button @click="modeClick">修改</button>
      <button @click="delClick">删除</button>
      <button>查看详情(双击)</button>
      <!-- <button>撤点</button> -->
      <button @click="exportClick">导出</button>
    </div>
    <el-table
    :data="tableData"
    style="width: 100%"
    @selection-change="handleSelectionChange"
    v-loading="loading"
    @row-dblclick="dblclick"
    ref="mytable">
    <el-table-column
      type="selection"
      width="50">
    </el-table-column>
    <el-table-column >
      <template slot-scope="props">
        <el-form label-position="left" inline class="demo-table-expand">
          <el-form-item label="模板名称:">
            <span>{{ props.row.tempName }}</span>
          </el-form-item>
          <el-form-item label="柜体类型:">
            <span>{{ props.row.isPrimary == '1' ? '主柜' : '副柜' }}</span>
          </el-form-item>
          <el-form-item label="柜体型号编码:">
            <span>{{ props.row.tempCode }}</span>
          </el-form-item>
          <el-form-item label="柜体规格描述:">
            <span>{{ props.row.note }}</span>
          </el-form-item>
          <el-form-item label="总格口数:">
            <span>{{ props.row.amount }}</span>
          </el-form-item>
          <el-form-item label="大格口数:">
            <span>{{ props.row.largeAmount }}</span>
          </el-form-item>
          <el-form-item label="中格口数:">
            <span>{{ props.row.mediumAmount }}</span>
          </el-form-item>
          <el-form-item label="小格口数:">
            <span>{{ props.row.smallAmount }}</span>
          </el-form-item>
          <el-form-item label="微格口数:">
            <span>{{ props.row.tinyAmount }}</span>
          </el-form-item>
          <!-- <el-form-item label="扁格口数:">
            <span>{{ props.row.nickname }}</span>
          </el-form-item> -->
          <el-form-item label="已审核">
          </el-form-item>
        </el-form>
      </template>
    </el-table-column>
  </el-table>
  </div>
</template>
<script>
export default {
  name: "Table",
  props: ["tableData", "loading", "sliderClass"],
  data() {
    return {
      mainSelect: "全选",
      multipleSelection: [],
      tableClass: "table"
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 双击事件
    dblclick(row) {
      localStorage.tmpDetail = JSON.stringify(row);
      this.$router.push({
        path: "/tmpDetail"
      });
    },
    // 打开增加模版弹窗
    openAddModel() {
      this.$emit("openAddModel");
    },
    // 打开修改模版弹窗
    modeClick() {
      if (!this.multipleSelection[0]) {
        this.$message({
          message: "请勾选要修改的模版",
          type: "warning"
        });
      } else if (this.multipleSelection.length === 1) {
        let id = this.multipleSelection[0].id;
        this.$emit("openModeClick", id);
      } else {
        this.$message({
          message: "修改操作只能勾选一栏，请重新选择",
          type: "warning"
        });
      }
    },
    // 删除模版
    delClick() {
      if (!this.multipleSelection[0]) {
        this.$message({
          message: "请勾选要删除的模版",
          type: "warning"
        });
      } else {
        let id = [];
        for (let i = 0; i < this.multipleSelection.length; i++) {
          id.push(this.multipleSelection[i].id);
        }
        id = id.join(",");
        let params = {
          token: localStorage.token,
          id: id
        };
        this.postRequest("template/delete", params).then(res => {
          if (res.data.code === 10000) {
            this.$notify({
              title: "成功",
              message: "已成功删除模版",
              type: "success"
            });
            this.$emit('refresh')
          }
        });
      }
    },
    // 点击导出按钮
    exportClick () {
      this.$emit('exportTmp')
    }
  },
  watch: {
    multipleSelection() {
      if (this.multipleSelection.length === 10) {
        this.mainSelect = "反选";
      } else {
        this.mainSelect = "全选";
      }
    },
    tableData () {
      this.$refs.mytable.bodyWrapper.scrollTop = 0;
    }
  },
  computed: {},
  mounted() {}
};
</script>
<style scoped>
.table {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.add-height-table {
  height: 680px;
}

.table .options {
  width: 80%;
  height: 46px;
  position: absolute;
  left: 35px;
  top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.table .options span {
  font-size: 16px;
  color: #999;
  margin-right: 20px;
}

.table .options button {
  width: 90px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-right: 20px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.table .options button:nth-child(5) {
  width: 140px;
}

.table >>> .el-table th {
  padding-top: 2px;
  padding-bottom: 22px;
}

.table >>> .el-table__body-wrapper {
  height: 470px;
  overflow: auto;
  background-color: #f4f4f4;
}

.add-height-table >>> .el-table__body-wrapper {
  height: 650px;
}

.table >>> .el-table th.is-leaf {
  background-color: #f4f4f4;
  border: none;
}

.table >>> .el-table__body {
  border-collapse: separate;
  border-spacing: 0px 0px;
}

.add-height-table >>> .el-table__body {
  border-spacing: 0px 5px;
}

.table >>> .el-table__row {
  position: relative;
}

.table >>> .el-form-item {
  border-collapse: collapse;
}

.table >>> .el-form-item__label {
  line-height: 30px;
}

.table >>> .el-form-item__content {
  line-height: 30px;
  color: #999999;
}

.table >>> tr:hover > td {
  background-color: #e5e5e5 !important;
}

.demo-table-expand {
  font-size: 0;
}
.demo-table-expand .el-form-item__label {
  width: 90px;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
}

.demo-table-expand > span {
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}
.demo-table-expand .el-form-item {
  width: 15%;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 12px;
}

/* .demo-table-expand .el-form-item:nth-child(1) {
  width: 228px;
  word-break: normal;
}

.demo-table-expand >>> .el-form-item:nth-child(1) .el-form-item__content {
  width: 150px;
  line-height: 20px;
  padding-top: 5px;
  overflow: hidden;
} */

.demo-table-expand .el-form-item:nth-child(4) {
  width: 40%;
}

.demo-table-expand .el-form-item:nth-child(10) {
  position: absolute;
  width: 46px;
  height: 20px;
  background: rgba(61, 122, 200, 0.2);
  left: -50px;
  top: 0px;
  z-index: 10;
  border-radius: 0px 0px 10px 0px;
}

.demo-table-expand .el-form-item:nth-child(10) >>> .el-form-item__label {
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: rgba(61, 122, 200, 1);
  line-height: 20px;
  padding: 0;
  float: left;
  text-align: center;
}
</style>