<template>
  <div class="cab-plan">
    <header>{{isInfoShow?'柜机网点信息':'该老板名下的全部网点'}}</header>
    <div v-show="!isInfoShow" class="terminal-list">
      <ul>
        <template v-for="(item,index) of bossDetail.cabinetList">
          <li :key="item.id"
              @click="showInfo(item)">
            <span>{{index + 1}}</span>
            <div>
              <span>网点编号:</span>
              {{item.terminalCode}}
            </div>
            <div>
              <span>主机硬件ID:</span>
              {{item.machineCode}}
            </div>
            <div>
              <span>网点名称:</span>
              {{item.cabName}}
            </div>
          </li>
        </template>
      </ul>
    </div>
    <div v-show="isInfoShow" class="terminal-info">
      <div class="info">
        <ul>
          <li>
            <span>网点编号: </span>
            {{selectDetail.terminalCode}}
          </li>
          <li>
            <span>主机硬件ID: </span>
            {{selectDetail.microbutlerId}}
          </li>
          <li>
            <span>网点名称: </span>
            {{selectDetail.cabName}}
          </li>
        </ul>
      </div>
      <div class="table-content">
      <table width="895" border="1">
        <tr>
          <td style="font-size:16px;
                     font-weight:bold;
                     color:#606060;
                     height:36px;
                     line-height:36px;" 
              colspan="6" 
              align="center">
              价格设置
        </td>
        </tr>
        <tr>
          <td>总格口数</td>
          <td>大格口数</td>
          <td>中格口数</td>
          <td>小格口数</td>
          <td>微格口数</td>
        </tr>
        <tr>
          <td>{{selectDetail.count}}</td>
          <td>{{selectDetail.lCount}}</td>
          <td>{{selectDetail.mCount}}</td>
          <td>{{selectDetail.sCount}}</td>
          <td>{{selectDetail.tCount}}</td>
        </tr>
        <tr>
          <td>单价(元/天)</td>
          <td>{{selectDetail.lPrice/100}}</td>
          <td>{{selectDetail.mPrice/100}}</td>
          <td>{{selectDetail.sPrice/100}}</td>
          <td>{{selectDetail.tPrice/100}}</td>
        </tr>
      </table>
      <div class="right-table">
        <p>授权免费投递账号（仅该网点有效）</p>
        <ul>
          <template v-for="item of selectDetail.freeAccountList"> 
          <li :key="item">{{item}}</li>
          </template>
        </ul>
      </div>
      </div>
      <div class="otherTriminal">
      <button @click="hiddenInfo">查看该老板名下其他网点</button>
    </div>
    </div>
    <!-- <div class="footerBtn">
      <button>保存</button>
      <button>取消</button>
    </div> -->
  </div>
</template>
<script>
export default {
  name: "AllTerminal",
  props:["bossDetail"],
  data() {
    return {
      isInfoShow: false, //是否切换为网点信息
      selectDetail:"",//选中的柜机详情
    };
  },
  mounted() {},
  methods: {
    // 切换至网店信息栏
    showInfo(selectDetail) {
      this.selectDetail = selectDetail;
      this.isInfoShow = true;
    },
    //切换至网点列表
    hiddenInfo() {
      this.isInfoShow = false;
    }
  },
  computed: {},
  watch: {}
};
</script>
<style scoped>
.cab-plan {
  width: 100%;
  overflow: hidden;
}

.cab-plan header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
}

.cab-plan .terminal-list {
  width: 100%;
  height: 400px;
}

.cab-plan .terminal-list ul {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.cab-plan .terminal-list ul li {
  width: 100%;
  height: 50px;
  color: #606060;
  font-size: 14px;
  padding-left: 30px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cab-plan .terminal-list ul li > span {
  margin-right: 10px;
  font-weight: bold;
}

.cab-plan .terminal-list ul li div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: #999999;
  line-height: 50px;
}

.cab-plan .terminal-list ul li div span {
  color: #606060;
}

.cab-plan .terminal-list ul li div:nth-child(2) {
  color: #3d7ac8;
  cursor: pointer;
}

.cab-plan .table-content {
  display: flex;
  flex-direction: row;
}

.cab-plan .terminal-info {
  width: 100%;
}

.cab-plan .terminal-info {
  width: 100%;
  height: 500px;
}

.cab-plan .terminal-info .info {
  width: 100%;
  height: 15px;
  margin: 30px 0 50px 0;
}

.cab-plan .terminal-info .info ul {
  width: 100%;
  height: 15px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  box-sizing: border-box;
}

.cab-plan .terminal-info .info ul li {
  width: 30%;
  height: 100%;
  font-size: 14px;
  color: #606060;
}

.cab-plan .terminal-info table tr td {
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  text-align: center;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.cab-plan .terminal-info .right-table {
  width: 429px;
  height: 189px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  margin-left: 20px;
}

.cab-plan .terminal-info .right-table p {
  height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  text-align: center;
  line-height: 36px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  /* box-sizing: border-box; */
}

.cab-plan .otherTriminal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cab-plan .otherTriminal button {
  width: 202px;
  height: 52px;
  border: 1px solid rgba(77, 190, 255, 1);
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background-color: #4DBEFF;
  margin-top: 50px;
  cursor: pointer;
}

.cab-plan .terminal-info .right-table ul {
  width: 100%;
  height: 150px;
  overflow: auto;
}

.cab-plan .terminal-info .right-table ul li {
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
}

.cab-plan .terminal-info .right-table ul li:hover {
  background: rgba(231, 234, 238, 1);
}

.cab-plan .terminal-info .right-table ul li:last-child {
  border: none;
}

.footerBtn {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.footerBtn button {
  width: 120px;
  height: 40px;
  border-radius: 2px;
  margin-right: 60px;
  font-size: 16px;
  cursor: pointer;
}

.footerBtn button:nth-child(1) {
  border: 1px solid rgba(77, 190, 255, 1);
  background: rgba(77, 190, 255, 1);
  color: #fff;
}

.footerBtn button:nth-child(2) {
  color: rgba(102, 102, 102, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  background-color: #fff;
  margin: 0;
}
</style>