<template>
  <div class="basic-info">
    <header>柜老板信息</header>
    <div class="info">
      <ul>
        <li><span>柜老板信息: </span><span>{{bossDetail.nickname}}</span></li>
        <li><span>注册手机号: </span><span>{{bossDetail.username}}</span></li>
        <li><span>身份证号: </span><span>{{bossDetail.identityNo}}</span></li>
        <li><span>银行卡号: </span><span>{{bossDetail.bankCard}}</span></li>
        <li><span>开户行: </span><span>{{bossDetail.bankName}}</span></li>
        <li><span>总收益: </span><span>{{bossDetail.accountIncomeTotal}}</span></li>
        <li><span>可提现余额: </span><span>{{bossDetail.accountIncome}}</span></li>
        <li><span>已提现余额: </span><span>{{bossDetail.accountIncomeTotal-bossDetail.accountIncome}}</span></li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "BasicInfo",
  props:['bossDetail'],
  data() {
    return {};
  },
  mounted() {},
  methods: {},
  computed: {}
};
</script>
<style scoped>
.basic-info {
  width: 100%;
}

.basic-info header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
}

.basic-info .info {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.basic-info .info ul {
  width: 100%;
  overflow: hidden;
}

.basic-info .info ul li {
  float: left;
  width: 30%;
  font-size: 14px;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  line-height: 34px;
}

.basic-info .info ul li span:first-child {
  color: #666
}
</style>