<template>
  <div class="container">
    <div class='content'>
    		<div class='searchbox'>
    			<input v-model="input1" 
                 placeholder="网点名称" 
                 style='width:200px;height:36px;border:1px solid #e5e5e5;border-radius:4px;padding-left:15px;'
                 @keyup.enter="search">
    			<!-- <el-input v-model="input2" placeholder="快递单号" style='width:200px;'></el-input>
    			<el-input v-model="input3" placeholder="收件人手机号" style='width:200px;'></el-input>
    			<el-input v-model="input4" placeholder="快递员手机号" style='width:200px;'></el-input> -->
    			<el-button type="primary"
                     style='background-color:#3D7AC8;margin-left:20px;width:100px'
                     @click="search"
                     >
                     搜索
        </el-button>
    		</div>
    		<baidu-map class="map" 
                   :center="{lng: 114.06667, lat: 22.61667}" 
                   :zoom="11" :scroll-wheel-zoom="true"
                   :clicking="true">
    		<template v-for="(item,index) of showMap">
        <bm-marker :key="item.id"
                   :position="item.gps" 
                   :dragging="true" 
                   @mousedown="infoWindowOpen(index)"
                   :icon="{url: 'https://xwq-object-1256294606.cos.ap-guangzhou.myqcloud.com/myPhotos/344596589455540769.png', size: {width: 29, height: 41}}">
          <bm-info-window
            :show="show[index]"
            @close="infoWindowClose(index)"
            :width="547"
            :height="0"
            :autoPan="true">
            <div class="bm-window-container">
              <header>网点信息
                <span @click="toWebsiteDetail(item.id)">查看详情</span>
              </header>
              <div><span>网点编号：</span><span>{{item.cabSysId}}</span></div>
              <div><span>柜机名称：</span><span>{{item.cabName}}</span></div>
              <div><span>柜机地址：</span><span>{{item.cabAddress}}</span></div>
            </div>
          </bm-info-window>
        </bm-marker>
 			</template>
 			<bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-navigation>
    		</baidu-map>
    </div>
  </div>
</template>
<script>
export default {
  name: "Home",
  data() {
    return {
      input1: "",
      input2: "",
      input3: "",
      input4: "",
      show: [],
      showMap: []
    };
  },
  methods: {
    // 地图上门店详情关闭事件
    infoWindowClose(index) {
      this.show.splice(index, 1, false);
    },
    // 地图点击坐标打开窗口事件
    infoWindowOpen(index) {
      console.log("点击了标注", this.show);
      let show = this.show;
      for (let i = 0; i < show.length; i++) {
        this.show[i] = false;
      }
      this.show.splice(index, 1, true);
    },
    // 搜索展示
    search() {
      let mapDetail = this.showMap;
      let show = this.show;
      for (let i = 0; i < mapDetail.length; i++) {
        if (mapDetail[i].cabName.indexOf(this.input1) != -1) {
          show.splice(i, 1, true);
        } else {
          show.splice(i, 1, false);
        }
      }
    },
    // 前往详情页
    toWebsiteDetail (id) {
      localStorage.websiteParams = id;
      localStorage.backHome = true;
      this.$router.push({
        path:"/websiteDetail"
      })
    }
  },
  mounted() {
    var params = {
      token: localStorage.token
    };
    this.postRequest("home", params).then(res => {
      let backData = res.data.data.list;
      this.show = [];
      if (!backData[0]) {
        this.$message(`已刷新页面，没有搜索到‘${this.address}’相关门店`);
      }
      // 处理返回的数据
      for (let i = 0; i < backData.length; i++) {
        backData[i]["gps"] = {
          lat: backData[i].latitude / 1000000,
          lng: backData[i].longitude / 1000000
        };
      }
      // 处理show数组
      for (let i = 0; i < backData.length; i++) {
        this.show[i] = false;
      }
      this.showMap = backData;
    });

    if (this.$store.state.userName === "out") {
      this.$router.push({
        path: "/"
      });
    }
  },
  computed: {}
};
</script>
<style scoped>
.container {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 5px 5px rgba(82, 82, 81, 0.08);
  box-shadow: 5px 5px 5px rgba(82, 82, 81, 0.08);
  padding: 80px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}

.searchbox {
  position: absolute;
  padding-left: 20px;
  height: 60px;
  left: 0;
  top: 20px;
}

.el-input__inner {
  background-color: #f3f3f3;
}

.map {
  width: 100%;
  height: 95%;
}

.bm-window-container {
  font-size: 14px;
  color: #666;
}

.bm-window-container div {
  margin-bottom: 10px;
}

.bm-window-container header {
  width: 100%;
  height: 40px;
  background: rgba(228, 228, 228, 1);
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  line-height: 40px;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.bm-window-container header span {
  position: absolute;
  right: 20px;
  top: 13px;
  font-size: 14px;
  line-height: 14px;
  color: blue;
  cursor: pointer;
}
</style>