<template>
	 <div class="footer">
	<!-- 2017 © 深圳社区宝移动互联网有限公司 证:粤<b>ICP</b>备<b>15073834</b>号-<b>2</b> -->
	    </div>
</template>
<script>
export default {
  name: 'foot',
  data() {
    return {
      
    }
  },
  mounted() {
    
  },
  methods: {
    
  },
  computed: {
    
  }
}
</script>
<style scoped>
.footer {
  width: 100%;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  text-align: center;
  line-height: 30px;
}
</style>