<template>
	<div class="header">
		腾云宝快递柜管理平台
		<div class='iconbox'>
			<div class='name'>{{this.$store.state.userName}}</div>
			<div class='set'><img src="../images/icon_setpassword.png" />修改密码</div>
			<div class='out' @click="exitClick"><img src="../images/icon_logout.png" />退出</div>
		</div>
	</div>
</template>
<script>
export default {
  name: "Header",
  data() {
    return {};
  },
  mounted() {},
  methods: {
    exitClick() {
      //  this.postRequest('louout').then((res)=> {
      //  })
      this.$router.push({
        path: "/"
      });
      this.exit = false;
      this.selectedIndex = 0;
      let exclude = [
        "Home",
        "WebsiteManage",
        "ArkTmp",
        "ExpressQuery",
        "BossManage",
        "WebsiteDetail",
        "ExpressDetail",
        "BossDetail",
        "Binding",
        "TmpDetail",
        "AddCabinet"
      ];
      this.$store.commit("keepalive", exclude);
      this.$store.commit("login", "out");
    }
  },
  computed: {}
};
</script>
<style scoped>
.header {
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 25px;
  background-color: #3d7ac8;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: 35px;
}

.iconbox {
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  width: 470px;
  height: 70px;
  background-image: url(../images/headbg.png);
}

.iconbox .name {
  position: absolute;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  top: 20px;
  right: 230px;
  border-radius: 5px;
  background-color: rgba(137, 207, 240, 0.5);
  font-size: 14px;
  cursor: pointer;
}

.iconbox .set {
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #3d7ac8;
  top: 20px;
  right: 110px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.iconbox .set img {
  width: 20px;
  height: 20px;
  margin: 5px;
  float: left;
}

.iconbox .out {
  position: absolute;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #3d7ac8;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.iconbox .out img {
  width: 20px;
  height: 20px;
  margin: 5px;
  float: left;
}
</style>