<template>
	<div class="main-nav">
		<el-menu :router="true" 
						 v-bind:default-active="flag" 
						 class="el-menu-vertical-demo"
						 @select="selectMenu">
			<el-menu-item index="home">
				<i :class="[homeIcon]"></i>
				<span slot="title">首页</span>
			</el-menu-item>
			<el-submenu index="1">
				<template slot="title">
					<i :class="[cabIcon]"></i>
					<span>快递柜管理</span>
				</template>
				<el-menu-item index="website">网点管理</el-menu-item>
				<el-menu-item index="arkTmp">柜机模版管理</el-menu-item>
			</el-submenu>
			<el-menu-item index="expressQuery">
				<i :class="[expressIcon]"></i>
				<span slot="title">快件查询</span>
			</el-menu-item>
			<el-menu-item index="bossManage">
				<i :class="[bossIcon]"></i>
				<span slot="title">柜老板管理</span>
			</el-menu-item>
		</el-menu>
	</div>
</template>
<script>
	export default {
		name: 'Main',
		data() {
			return {
				flag: 'home',
				homeIcon: 'home-icon',
				cabIcon: 'cab-icon',
				expressIcon: 'express-icon',
				bossIcon: 'boss-icon'
			}
		},
		methods: {
			// 根据选中的菜单切换icon
			selectMenu (index,indexPath) {
				if(indexPath[0] === 'home') {
					this.homeIcon = 'home-icon-active'
					this.expressIcon = 'express-icon'
					this.bossIcon = 'boss-icon'
				}
				else if(indexPath[0] === 'expressQuery') {
					this.expressIcon = 'express-icon-active'
					this.bossIcon = 'boss-icon'
					this.homeIcon = 'home-icon'
				}
				else if(indexPath[0] === 'bossManage') {
					this.bossIcon = 'boss-icon-active'
					this.expressIcon = 'express-icon'
					this.homeIcon = 'home-icon'
				}
				else if(indexPath[0] === 'website' || 'arkTmp' ) {
					this.bossIcon = 'boss-icon'
					this.expressIcon = 'express-icon'
					this.homeIcon = 'home-icon'
				}
			} 
		},
		computed: {

		},
		mounted() {
			if(this.$route.path.indexOf('/home') == 0) {
				this.flag = 'home'
				this.homeIcon = 'home-icon-active'
			}
			if(this.$route.path.indexOf('/website') == 0) {
				this.flag = 'website'
			}
			if(this.$route.path.indexOf('/websiteDetail') == 0) {
				this.flag = 'website'
			} 
			if(this.$route.path.indexOf('/arkTmp') == 0) {
				this.flag = 'arkTmp'
			} 
			if(this.$route.path.indexOf('/tmpDetail') == 0) {
				this.flag = 'arkTmp'
			}
			if(this.$route.path.indexOf('/expressQuery') == 0) {
				this.flag = 'expressQuery'
			} 
			if(this.$route.path.indexOf('/expressDetail') == 0) {
				this.flag = 'expressQuery'
			}
			if(this.$route.path.indexOf('/bossManage') == 0) {
				this.flag = 'bossManage'
			} 
			if(this.$route.path.indexOf('/bossDetail') == 0) {
				this.flag = 'bossManage'
			}
			if(this.$route.path.indexOf('/binding') == 0) {
				this.flag = 'bossManage'
			}
		}
	}
</script>
<style scoped>
	.main-nav {
		width: 12.5%;
		min-width: 160px;
		height: 100%;
		background-color: #fff;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 98;
		padding-top: 110px;
		box-sizing: border-box;
		font-size: 16px;
		font-weight: bold;
	}
	
	.el-submenu .el-menu-item {
		min-width: 0;
	}

	.main-nav >>> .el-menu-item span {
		margin-left: 35px;
	}

	.main-nav >>> .el-submenu__title span {
		margin-left: 35px;
	}

	.el-menu-item i {
		position: absolute;
		top: 20px;
		left: 25px;
		width: 20px;
		height: 20px;
	}

	.el-submenu__title i {
		position: absolute;
		top: 20px;
		left: 25px;
		width: 20px;
		height: 20px;
	}

	.home-icon {
		background: url(../images/icon_home1.png) no-repeat;
	}

	.home-icon-active {
		background: url(../images/icon_home.png) no-repeat;
	}

	.cab-icon {
		background: url(../images/icon_cabinet.png) no-repeat;
	}

	.express-icon {
		background: url(../images/iconexpresssearch.png) no-repeat;
	}

	.express-icon-active {
		background: url(../images/icon_search-active.png) no-repeat;
	}

	.boss-icon {
		background: url(../images/icon_boss.png) no-repeat;
	}

	.boss-icon-active {
		background: url(../images/icon_boss-active.png) no-repeat;
	}
</style>