<template>
  <div class="pagingComponent">
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentpage"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="amount">
    </el-pagination>
  </div>
</template>

<script>
export default {
  name: "Paging",
  props:['amount','currentpage'],
  data: function() {
    return {
    };
  },
  methods: {
    handleSizeChange(val) {
      this.$emit('sizeChange',val)
    },
    handleCurrentChange(val) {
      this.$emit('currentChange',val)
    }
  }
};
</script>

<style scoped>
.pagingComponent {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  padding-right: 50px;
  box-sizing: border-box;
}

.pagingComponent >>> .el-input__inner {
  background-color: #f4f4f4;
}

.pagingComponent >>> .el-pagination button:disabled {
  background-color: #f4f4f4;
}

.pagingComponent >>> .el-pagination .btn-prev {
  background: center center no-repeat #f4f4f4;
}

.pagingComponent >>> .el-pagination .btn-next {
  background: center center no-repeat #f4f4f4;
}

.pagingComponent >>> .el-pager li {
  background-color: #f4f4f4;
}
</style>
