<template>
  <div class="basic-info">
    <header>基本信息</header>
    <div class="info">
      <ul>
        <li><span>模板编号: </span><span style="color:#999999;font-weight:normal;">{{detail.tempCode}}</span></li>
        <li><span>柜体类型: </span><span style="color:#999999;font-weight:normal;">{{detail.isPrimary === '0' ? '副柜' : '主柜'}}</span></li>
        <li><span>柜体型号编码: </span><span></span></li>
        <li><span>柜体规格描述: </span><span style="color:#999999;font-weight:normal;">{{detail.note}}</span></li>
        <li><span>总格口数: </span><span>{{detail.amount}}</span></li>
        <li><span>大格口数: </span><span>{{detail.largeAmount}}</span></li>
        <li><span>中格口数: </span><span>{{detail.mediumAmount}}</span></li>
        <li><span>小格口数: </span><span>{{detail.smallAmount}}</span></li>
        <li><span>微格口数: </span><span>{{detail.tinyAmount}}</span></li>
        <!-- <li><span>扁格口数:</span><span></span></li> -->
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "BasicInfo",
  data() {
    return {
      detail:""
    };
  },
  mounted() {
    let tmpDetail = JSON.parse(localStorage.tmpDetail)
    this.detail = tmpDetail;
  },
  methods: {},
  computed: {}
};
</script>
<style scoped>
.basic-info {
  width: 100%;
}

.basic-info header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
}

.basic-info .info {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.basic-info .info ul {
  width: 100%;
  overflow: hidden;
}

.basic-info .info ul li {
  float: left;
  width: 16%;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  line-height: 34px;
}

.basic-info .info ul li:nth-child(4) {
  width: 48%;
}

.basic-info .info ul li span:nth-child(2) {
  font-weight: bold;
}
</style>