<template>
  <div class="cab-plan">
    <header>柜体平面图</header>
    <div class="upload-div">
      <el-upload
        class="upload-demo"
        action="https://jsonplaceholder.typicode.com/posts/"
        :on-preview="handlePreview"
        :on-remove="handleRemove"
        :file-list="fileList2"
        list-type="picture"
        :on-progress="uploading"
        :on-success="uploadSuccess"
        :show-file-list="false">
        <el-button size="small"
                   type="primary"
                   style="margin:20px;">
                   点击上传
        </el-button>
      </el-upload>
    </div>
    <el-carousel :interval="4000" :autoplay="false" height="420px">
      <el-carousel-item v-for="item in fileList2" :key="item.uid">
          <img :src="item.url" 
               >
      </el-carousel-item>
    </el-carousel> 
    <div class="footerBtn">
      <button>保存</button>
      <button>取消</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "CabPlan",
  data() {
    return {
      fileList2: []
    };
  },
  mounted() {},
  methods: {
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    // 上传中
    uploading(event, file, fileList) {
      this.$message('正在上传，请稍后');
    },
    // 上传成功回调
    uploadSuccess(response, file, fileList) {
      this.fileList2 = fileList;
      this.$message({
          message: '上传成功',
          type: 'success'
        });
    }
  },
  computed: {},
  watch: {
    fileList2() {
      console.log(this.fileList2);
    }
  }
};
</script>
<style scoped>
.cab-plan {
  width: 100%;
  overflow: hidden;
}

.cab-plan header {
  width: 100%;
  height: 50px;
  background: rgba(228, 228, 228, 1);
  font-size: 16px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
}

.cab-plan >>> .el-carousel__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.el-carousel__item img {
  width: 220px;
  height: 400px;
}

.footerBtn {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.footerBtn button {
  width:120px;
  height:40px;
  border-radius: 2px;
  margin-right: 60px;
  font-size:16px;
  cursor: pointer;
}

.footerBtn button:nth-child(1) {
  border: 1px solid rgba(77, 190, 255, 1);
  background:rgba(77,190,255,1);
  color: #fff;
}

.footerBtn button:nth-child(2) {
  color:rgba(102,102,102,1);
  border:1px solid rgba(229,229,229,1);
  background-color: #fff;
  margin: 0;
}
</style>