<template>
	<div class='content'>
		<img @click="back" class="back" src="../images/back.png">
		<div class='title'>绑定柜机</div>
		<div class='show_t'>柜机管理人信息</div>
		<div class='inputbox'>
			<div class='inputrow'>
				<span class='ititle'>柜机管理人:</span>
				<span class='idata'>{{bossInfo.nickname}}</span>
			</div>
			<div class='inputrow'>
				<span class='ititle'>注册手机号:</span>
				<span class='idata'>{{bossInfo.username}}</span>
			</div>
			<div class='inputrow'>
				<span class='ititle'>身份证号:</span>
				<span class='idata'>{{bossInfo.identityNo}}</span>
			</div>
		</div>
		<div class='tablebox'>
			<template>
				<el-table :data="bossInfo.cabinetList" height="350"
    border style="width:1050px;">
					<el-table-column prop="status" label="状态" width="80" align="center">
					</el-table-column>
					<el-table-column prop="terminalCode" label="网点编号" width="150" align="center">
					</el-table-column>
					<el-table-column prop="machineCode" label="主机硬件ID" width="150" align="center">
					</el-table-column>
					<el-table-column prop="cabName" label="网点名称" width="250" align="center">
					</el-table-column>
					<el-table-column prop="primary" label="主柜" width="100" align="center">
					</el-table-column>
					<el-table-column prop="secondary" label="副柜" width="100" align="center">
					</el-table-column>
					<el-table-column prop="count" label="总格口数" width="100" align="center">
					</el-table-column>
					<el-table-column prop="set" label="操作" align="center">
						<template slot-scope="scope">
							<el-button @click="unbindClick(scope)" type="danger">解绑</el-button>
						</template>
					</el-table-column>
				</el-table>
			</template>
		</div>
		
		<div class='btnrow'>
				<el-popover
  				placement="right"
  				width="650"
  				trigger="click">
  				<el-table :data="allCabinet"
										@row-click="selectClick">
  				  <el-table-column width="150" property="terminalCode" label="柜机编号"></el-table-column>
  				  <el-table-column width="150" property="cabName" label="柜机名称"></el-table-column>
  				  <el-table-column width="300" property="cabAddress" label="柜机地址"></el-table-column>
  				</el-table>
  				<el-button type="primary" slot="reference">绑定柜机</el-button>
				</el-popover>
				<span style="font-size: 16px;color:#333;">*点击后弹出柜机列表，单击进行绑定</span>
		</div>
	</div>
</template>

<script>
export default {
  name: "Binding",
  data() {
    return {
      tableData: [], //柜机信息列表
      allCabinet: [], //所有柜子信息列表
      bossInfo: "" //老板信息
    };
  },
  methods: {
    // 返回上一页
    back() {
      this.$router.push({
        path: "/bossManage"
      });
    },
    // 选中柜子（绑定）
    selectClick(row) {
      console.log(row);
      let params = {
        token: localStorage.token,
        id: localStorage.bindId,
        cabId: row.id
      };
      this.postRequest("cabinetBoss/bind", params).then(res => {
        if (res.data.code === 10000) {
          this.$notify({
            title: "成功",
            message: "柜机绑定成功",
            type: "success"
          });
          this.getBossInfo();
					this.getCabinetList()
        }
      });
    },
    // 获取柜老板信息
    getBossInfo() {
      let params = {
        token: localStorage.token,
        id: localStorage.bindId
      };
      this.postRequest("cabinetBoss/get", params).then(res => {
        let data = res.data.data.cabinetBossVo;
        for (let i = 0; i < data.cabinetList.length; i++) {
          data.cabinetList[i]["status"] = "已绑定";
        }
        this.bossInfo = data;
      });
    },
    // 解绑柜机
    unbindClick(scoped) {
      let cabId = scoped.row.id;
      let params = {
        token: localStorage.token,
        cabId: cabId
      };
      this.postRequest("cabinetBoss/unbind", params).then(res => {
        if (res.data.code === 10000) {
          this.$notify({
            title: "成功",
            message: "解绑成功",
            type: "success"
          });
					this.getBossInfo();
					this.getCabinetList()
        }
      });
		},
		
		// 获取柜子信息列表片
		getCabinetList () {
			let tokenParams = {
      token: localStorage.token
		};
		this.postRequest("cabinetBoss/cabinetList", tokenParams).then(res => {
      this.allCabinet = res.data.data.list;
    });
		}
  },
  mounted() {
    // 获取柜老板信息
    this.getBossInfo();
		// 获取柜子信息列表
		this.getCabinetList()
    
  }
};
</script>

<style scoped>
.content {
  width: 100%;
  height: 800px;
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.back {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.show_t {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 1%;
  background-color: #e4e4e4;
  font-size: 16px;
  color: #666;
  position: relative;
  box-sizing: border-box;
}

.inputbox {
  width: 100%;
  height: 50px;
  float: left;
}

.inputbox .inputrow {
  width: 30%;
  height: 50px;
  float: left;
  margin-top: 5px;
}

.searchbox {
  display: inline-block;
  width: 30%;
  height: 150px;
  float: left;
}

.searchbox .inputrow {
  width: 100%;
  height: 50px;
  float: left;
  margin-top: 5px;
}

.inputrow .ititle {
  display: inline-block;
  width: 25%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  color: #606060;
  font-size: 14px;
  margin-left: 5%;
  float: left;
}

.inputrow .idata {
  display: inline-block;
  width: 70%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  color: #606060;
  font-size: 14px;
  float: left;
}

.content >>> .el-input__inner {
  height: 30px;
}

.tablebox {
  width: 1050px;
  max-height: 450px;
  margin: 15px 2%;
  float: left;
}

.btnrow {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  text-align: left;
  float: left;
  margin-left: 20px;
}

.btnrow button {
  width: 100px;
  height: 40px;
  margin: 5px 20px;
}

.el-table {
  height: 600px;
  overflow: auto;
}
</style
</style>