<template>
  <div class="container">
      <span class="tmp-title">快件详情</span>
      <img @click="toExpressQuery" class="back" src="../images/back.png">
    <basic-info :baseInfo="baseInfo"></basic-info>
    <com-operate @refresh="refresh"></com-operate>
  </div>
</template>
<script>
import basicInfo from "./components/BasicInfo"; //基本信息组件
import comOperate from "./components/ComOperate"; //平面图组件
export default {
  name: "ExpressDetail",
  components: {
    basicInfo,
    comOperate
  },
  data() {
    return {
      baseInfo:'',
    };
  },
  methods: {
    // 返回快件查询页
    toExpressQuery() {
      this.$router.push({
        path: "/expressQuery"
      });
    },
    // 获取当前详情页的信息
    getInfo () {
      let expressDetail = JSON.parse(localStorage.expressDetail)
      console.log( expressDetail.id)
      // return;
      let params = {
      token: localStorage.token,
      id: expressDetail.id
    }
    this.postRequest ('express/get',params).then(res=> {
      this.baseInfo = res.data.data.expressVo
    })
    },
    // 刷新数据
    refresh () {
      this.getInfo()
    }
  },
  computed: {},
  mounted() {
    this.getInfo()
  }
};
</script>
<style scoped>
.container {
  width: 100%;
  height: 800px;
  background-color: #fff;
  border: 1px solid rgba(229, 229, 229, 1);
  box-shadow: 3px 0px 4px rgba(82, 82, 81, 0.04);
  border-radius: 2px;
  padding: 10px 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.tmp-title {
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(96, 96, 96, 1);
  margin-bottom: 10px;
}

.back {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
</style>