
<template>
  <div :class="[tableClass, sliderClass]">
    <div class="options">
      <span>{{mainSelect}}</span>
      <button @click="binding">绑定</button>
      <button>查看详情(双击)</button>
      <button @click="exportClick">导出</button>
    </div>
    <el-table
    :data="tableData"
    style="width: 100%"
    @selection-change="handleSelectionChange"
    v-loading="loading"
    @row-dblclick="dblclick"
    ref="mytable">
    <el-table-column
      type="selection"
      width="50">
    </el-table-column>
    <el-table-column >
      <template slot-scope="props">
        <el-form label-position="left" inline class="demo-table-expand">
          <el-form-item label="柜机管理人:">
            <span>{{ props.row.nickname }}</span>
          </el-form-item>
          <el-form-item label="注册手机号:">
            <span>{{ props.row.username }}</span>
          </el-form-item>
          <el-form-item label="身份证号:">
            <span>{{ props.row.identityNo }}</span>
          </el-form-item>
          <el-form-item label="银行卡号:">
            <span>{{ props.row.bankCard }}</span>
          </el-form-item>
          <el-form-item label="开户行:">
            <span>{{ props.row.bankName }}</span>
          </el-form-item>
          <el-form-item label="网点编号:">
            <span>{{ props.row.cabSysId }}</span>
          </el-form-item>
          <el-form-item label="主机硬件ID:">
            <span>{{ props.row.machineCode }}</span>
          </el-form-item>
          <el-form-item label="网点名称:">
            <span>{{ props.row.cabName }}</span>
          </el-form-item>
          <el-form-item label="开通时间:">
            <span>{{ props.row.createDate }}</span>
          </el-form-item>
          <el-form-item label="已审核">
          </el-form-item>
        </el-form>
      </template>
    </el-table-column>
  </el-table>
  </div>
</template>
<script>
export default {
  name: "Table",
  props: {
    tableData: Array,
    loading: Boolean,
    sliderClass: String
  },
  data() {
    return {
      mainSelect: "全选",
      multipleSelection: [],
      tableClass:'table'
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },

    // 双击事件
    dblclick (row) {
      localStorage.bossId = row.id
      this.$router.push({
        path: "/bossDetail"
      });
    },

    // 绑定柜机
    binding () {
      if(this.multipleSelection.length === 1) {
        localStorage.bindId = this.multipleSelection[0].id;
        this.$router.push({
        path: "/binding"
      });
      }
      else {
        this.$message({
          message: '绑定柜机操作必须勾选一项数据',
          type: 'warning'
        });
      }
    },
    // 点击了导出
    exportClick () {
      this.$emit('exportBoss')
    }
  },
  watch: {
    multipleSelection() {
      if (this.multipleSelection.length === 10) {
        this.mainSelect = "反选";
      } else {
        this.mainSelect = "全选";
      }
    },
    tableData () {
      this.$refs.mytable.bodyWrapper.scrollTop = 0;
    }
  },
  computed: {
  },
  mounted() {}
};
</script>
<style scoped>
.table {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.add-height-table {
  height: 680px;
}

.table .options {
  width: 80%;
  height: 46px;
  position: absolute;
  left: 35px;
  top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.table .options span {
  font-size: 16px;
  color: #999;
  margin-right: 20px;
}

.table .options button {
  width: 90px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-right: 20px;
  background: rgba(61, 122, 200, 1);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.table .options button:nth-child(3) {
  width: 140px;
}

.table >>> .el-table th {
  padding-top: 2px;
  padding-bottom: 22px;
}

.table >>> .el-table__body-wrapper {
  height: 470px;
  overflow: auto;
  background-color: #f4f4f4;
}

.add-height-table >>> .el-table__body-wrapper {
  height: 650px;
}

.table >>> .el-table th.is-leaf {
  background-color: #f4f4f4;
  border: none;
}

.table >>> .el-table__body {
  border-collapse: separate;
  border-spacing: 0px 0px;
}

.add-height-table >>> .el-table__body {
  border-spacing: 0px 5px;
}

.table >>> .el-table__row {
  position: relative;
}

.table >>> .el-form-item {
  border-collapse: collapse;
}

.table >>> .el-form-item__label {
  line-height: 30px;
}

.table >>> .el-form-item__content {
  line-height: 30px;
  color: #999999;
}

.table >>> tr:hover > td {
  background-color: #e5e5e5 !important;
}

.demo-table-expand {
  font-size: 0;
}
.demo-table-expand .el-form-item__label {
  width: 90px;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
}

.demo-table-expand > span {
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
}
.demo-table-expand .el-form-item {
  width: 220px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 12px;
}

.demo-table-expand .el-form-item:nth-child(10) {
  position: absolute;
  width: 46px;
  height: 20px;
  background: rgba(61,122,200, 0.2);
  left: -50px;
  top: 0px;
  z-index: 10;
  border-radius: 0px 0px 10px 0px;
}

.demo-table-expand .el-form-item:nth-child(10) >>> .el-form-item__label {
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: rgba(61,122,200, 1);
  line-height: 20px;
  padding: 0;
  float: left;
  text-align: center;
}
</style>