<template>
  <div id="app">
    <!-- 头部组件 -->
    <cab-header></cab-header>
    <!-- 菜单栏组件 -->
    <cab-main></cab-main>
    <!-- 底部 -->
    <cab-foot></cab-foot>
    
    <div class="pro-content">
      <transition name="fade">
        <keep-alive :exclude="this.$store.state.exclude">
            <router-view/>
        </keep-alive>
      </transition>
    </div>
  </div>
</template>

<script>
import cabHeader from "./pages/components/Header"; //引入头部组件
import cabMain from "./pages/components/Main"; //引入左侧菜单栏
import cabFoot from "./pages/components/Foot"; //引入左侧菜单栏
export default {
  name: "App",
  components: {
    cabHeader,
    cabMain,
    cabFoot
  },
  mounted () {
    let exclude = ['WebsiteDetail','ExpressDetail',"BossDetail","Binding",'TmpDetail','AddCabinet'];
    this.$store.commit("keepalive", exclude);
  }
};
</script>

<style scoped>
#app {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  padding: 90px 20px 30px 13.54%;
  box-sizing: border-box;
  overflow: auto;
}

.pro-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.pro-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

.pro-content::-webkit-scrollbar-button {
  display: none;
}

.pro-content::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: inherit;
  background-color: hsla(220, 4%, 58%, 0.3);
  transition: background-color 0.3s;
}
</style>
