<template>
  <div class="container">
    <exp-search @search="search"
                @tableHeightChange="tableHeightChange">
    </exp-search>
    <exp-table :tableData="tableData"
               :loading="loading"
               :sliderClass="sliderClass"
               @exportExpress="exportExpress">
    </exp-table>
    <paging :amount="amount"
            :currentpage="currentpage"
            @sizeChange="sizeChange"
            @currentChange="currentChange">
    </paging>
  </div>
</template>
<script>
import expSearch from "./components/Search"; //引入搜索栏组件
import expTable from "./components/Table"; //引入表格组件
import paging from "../components/Paging"; //引入分页组件
export default {
  name: "ExpressQuery",
  components: {
    expSearch,
    expTable,
    paging
  },
  data() {
    return {
      Searchparams: null, //搜索组件传递过来的参数
      page: 1,
      limit: 10,
      tableData: [], //表格展示的数据
      allData: [], //所有请求过的数据缓存至此
      amount: 0, //搜索结果总页数
      currentpage: 1, //当前页
      loading: false, // 是否处于加载状态
      sliderClass: "", //是否展开了搜索
      city: "", //城市列表数据
      exportState: false //是否走导出路线
    };
  },
  methods: {
    // 搜索数据
    search(Searchparams) {
      this.Searchparams = Searchparams;
      (this.page = 1), (this.allData = []), this.tableDataRequest(); //请求数据
    },
    // 每页条目发生变化
    sizeChange(limit) {
      this.limit = limit;
    },
    //翻页/改变当前页数
    currentChange(page) {
      this.page = page;
      this.tableDataRequest();
    },
    // 搜索页传递过来的参数（是否展开）
    tableHeightChange(classParams) {
      console.log(classParams);
      if (classParams) {
        this.sliderClass = "add-height-table";
      } else {
        this.sliderClass = classParams;
      }
    },
    // 导出数据
    exportExpress() {
      this.exportState = true;
      this.tableDataRequest();
    },
    //  请求数据方法
    tableDataRequest() {
      // 导出路线
      if (this.exportState) {
        this.exportState = false;
        if (!this.Searchparams) {
          this.$message({
            message: "请先查询数据再进行导出",
            type: "warning"
          });
          return;
        } else {
          this.$message("正在导出，请耐心等待！");
          let params = {
            token: localStorage.token,
            startTime: this.Searchparams.startTime,
            endTime: this.Searchparams.endTime,
            startTime: this.Searchparams.startTime,
            expressState: this.Searchparams.expressState,
            expressId: this.Searchparams.expressId,
            smsStatus: this.Searchparams.smsStatus,
            phone: this.Searchparams.phone,
            memName: this.Searchparams.memName,
            memPhone: this.Searchparams.memPhone,
            cabName: this.Searchparams.cabName,
            comId: this.Searchparams.comId,
            row: this.Searchparams.row,
            column: this.Searchparams.column
          };
          this.postRequest("express/export", params).then(res => {
            if (res.data.code === 10000) {
              let url = res.data.data.url;
              window.location.href = url; //访问url路径来下载Excel文件
              this.$message({
                message: "数据导出成功！",
                type: "success"
              });
            }
          });
        }
      }
      // 搜索订单路线
      else {
        let params = {
          token: localStorage.token,
          page: this.page,
          limit: this.limit,
          startTime: this.Searchparams.startTime,
          endTime: this.Searchparams.endTime,
          startTime: this.Searchparams.startTime,
          expressState: this.Searchparams.expressState,
          expressId: this.Searchparams.expressId,
          smsStatus: this.Searchparams.smsStatus,
          phone: this.Searchparams.phone,
          memName: this.Searchparams.memName,
          memPhone: this.Searchparams.memPhone,
          cabName: this.Searchparams.cabName,
          comId: this.Searchparams.comId,
          row: this.Searchparams.row,
          column: this.Searchparams.column
        };
        this.loading = true;
        // 如果总数据中缓存了当前页的数据则直接提取，否则请求
        if (this.allData[this.page - 1]) {
          this.tableData = this.allData[this.page - 1];
          this.loading = false;
        } else {
          this.postRequest("express/list", params).then(res => {
            let data = res.data.data.list;
            if (!data[0]) {
              this.$message('暂无数据');
            }
            for (let i = 0; i < data.length; i++) {
              for (let j = 0; j < this.city.length; j++) {
                if (this.city[j].id === data[i].cityId) {
                  data[i]["cityName"] = this.city[j].name;
                }
              }
            }
            this.tableData = data;
            this.allData[this.page - 1] = data;
            this.amount = res.data.data.amount;
            this.loading = false;
          });
        }
      }
    }
  },
  computed: {},
  mounted() {
    let params = {
      token: localStorage.token
    };
    // 请求城市列表
    this.postRequest("common/allCity", params).then(res => {
      let data = res.data.data.list;
      this.city = data;
    });
  }
};
</script>
<style scoped>
.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
</style>